Repository ihkaru/cerdas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.63
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat: implement scalable async csv export with host-agnostic signed urls, data merging, and infrastructure hardening for 2026 standards (finalized & linted)
  DOCKER_DEV.md
  README.md
  apps/backend/app/Http/Controllers/Api/ExportController.php
  apps/backend/app/Http/Controllers/Api/ResponseController.php
  apps/backend/app/Jobs/ProcessAsyncExport.php
  apps/backend/app/Models/ExportJob.php
  apps/backend/config/cors.php
  apps/backend/database/migrations/2026_04_16_000000_create_export_jobs_table.php
  apps/backend/database/migrations/2026_04_16_000000_update_assignment_status_enum.php
  apps/backend/routes/api.php
  apps/backend/routes/console.php
  apps/backend/start-container.sh
  apps/client/.env.docker-web
  apps/client/android/app/capacitor.build.gradle
  apps/client/android/build.gradle
  apps/client/android/capacitor.settings.gradle
  apps/client/package.json
  apps/client/src/app/dashboard/composables/app-shell/useAppMetadata.ts
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/client/src/common/services/NetworkService.ts
  apps/client/src/common/stores/authStore.ts
  apps/client/src/pages/AppShell.vue
  apps/client/src/pages/SyncPage.vue
  apps/editor/.env.docker-web
  apps/editor/src/app/app-editor/components/assignments/AssignmentsPanel.vue
  apps/editor/src/app/app-editor/components/layout/EditorSidebar.vue
  apps/editor/src/app/app-editor/components/layout/EditorTabContent.vue
  apps/editor/src/app/app-editor/components/monitoring/CsvImportPopup.vue
  apps/editor/src/app/app-editor/components/monitoring/ResponseReviewDrawer.vue
  apps/editor/src/app/app-editor/components/monitoring/SubmissionsPanel.vue
  apps/editor/src/app/app-editor/composables/useEditorLifecycle.ts
  apps/editor/src/app/app-editor/composables/useEditorPanels.ts
  apps/editor/src/common/echo.ts
  docker-compose.dev.yml
  docker-compose.prod.yml
  docs/references/system_reference.md
  pnpm-lock.yaml
  references/sync_data_flow.md
  start-dev-docker.sh
  verify-stack.sh
Due: eslint --fix, php apps/backend/vendor/bin/pint

fix: resolve final sonarjs lint error in SubmissionsPanel for CI/CD pass
  apps/editor/src/app/app-editor/components/monitoring/SubmissionsPanel.vue
Due: eslint --fix

chore(main): release cerdas 0.1.64
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat: monorepo lint cleanup and final push for update system
  apps/backend/app/Http/Controllers/Api/AppController.php
  apps/backend/app/Http/Controllers/Api/AppSchemaController.php
  apps/client/Dockerfile.prod
  apps/client/capacitor.config.ts
  apps/client/nginx.conf
  apps/client/package.json
  apps/client/src/App.vue
  apps/client/src/app/dashboard/components/UpdateSheet.vue
  apps/client/src/app/dashboard/composables/app-shell/useAppMetadata.ts
  apps/client/src/app/dashboard/composables/app-shell/useAssignmentQueries.ts
  apps/client/src/app/dashboard/services/AssignmentQueryService.ts
  apps/client/src/common/database/DatabaseService.ts
  apps/client/src/common/database/schema.ts
  apps/client/src/common/services/SyncService.ts
  apps/client/src/common/services/UpdateService.ts
  apps/client/src/components/common/AsyncImage.vue
  apps/client/src/components/views/DeckView.vue
  apps/client/src/components/views/MapView.vue
  apps/client/src/components/views/ViewRenderer.vue
  apps/client/src/components/views/map/components/MapListPanel.vue
  apps/client/src/components/views/map/composables/useMapGeoJson.ts
  apps/client/src/components/views/map/composables/useMapLayers.ts
  apps/client/src/components/views/map/utils/mapColorResolver.ts
  apps/client/src/components/views/map/utils/mapCoordinates.ts
  apps/client/src/components/views/map/utils/mapMarkers.ts
  apps/client/src/pages/AppShell.vue
  apps/client/tests/api.test.ts
  apps/editor/package.json
  apps/editor/src/app/app-editor/components/actions/ActionsPanel.vue
  apps/editor/src/app/app-editor/components/code/CodeEditorTab.vue
  apps/editor/src/app/app-editor/components/field-config/sections/FieldLogicSection.vue
  apps/editor/src/app/app-editor/components/layout/EditorTabContent.vue
  apps/editor/src/app/app-editor/components/views/config/view-types/MapViewConfig.vue
  apps/editor/src/app/app-editor/utils/validators/constants.ts
  apps/editor/src/app/app-editor/utils/validators/navigationValidator.ts
  apps/editor/src/components/CodeEditor.vue
  apps/editor/src/composables/useSchemaAutocomplete.ts
  packages/form-engine/src/components/fields/NestedFormField.vue
  packages/form-engine/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.65
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix: monorepo build blockers and expression engine security suppression
  apps/client/package.json
  apps/client/public/version.json
  apps/client/src/app/dashboard/components/UpdateSheet.vue
  apps/client/src/app/dashboard/composables/app-shell/useAppMetadata.ts
  apps/client/src/pages/AppShell.vue
  packages/expression-engine/src/index.ts
Due: eslint --fix

chore(main): release cerdas 0.1.66
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix: final update system polish with hardened reload and native safety
  apps/client/public/version.json
  apps/client/src/common/services/UpdateService.ts
Due: eslint --fix

fix: resolve update loop by fixing version detection logic and adding logging
  apps/client/public/version.json
  apps/client/src/app/dashboard/components/UpdateSheet.vue
  apps/client/src/common/services/UpdateService.ts
Due: eslint --fix

chore(main): release cerdas 0.1.67
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

perf: optimize backend (PHP 8.4, root JSON response) and sync versions
  apps/backend/Dockerfile.prod
  apps/backend/routes/web.php
  apps/client/android/app/build.gradle
  gemini.md
Due: php apps/backend/vendor/bin/pint

feat(docker): optimize backend with frankenphp static binary and fix port conflicts
  apps/backend/Dockerfile.prod
  apps/client/.env.docker-web
  apps/editor/.env.docker-web
  docker-compose.dev.yml
  scripts/start-dev-docker.sh
Due: none

fix(sync,toggle): fix infinite toggle loop and client app deletion sync
  .lintstagedrc.json
  apps/backend/app/Http/Controllers/Api/AppController.php
  apps/backend/app/Http/Controllers/Api/ExcelImportController.php
  apps/backend/routes/api.php
  apps/client/public/version.json
  apps/client/src/App.vue
  apps/client/src/app/dashboard/components/AppShellNavbar.vue
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/client/src/app/dashboard/services/AppMetadataService.ts
  apps/client/src/app/dashboard/views/DashboardPage.vue
  apps/client/src/common/database/DatabaseService.ts
  apps/client/src/common/services/SyncService.ts
  apps/client/src/common/services/UpdateService.ts
  apps/client/src/common/services/menuService.ts
  apps/client/src/pages/AppShell.vue
  apps/editor/src/App.vue
  apps/editor/src/app/app-editor/AppEditorPage.vue
  apps/editor/src/app/app-editor/components/code/CodeEditorTab.vue
  apps/editor/src/app/app-editor/components/settings/AppSettingsPanel.vue
  apps/editor/src/app/app-editor/composables/useAppJoinLink.ts
  apps/editor/src/app/app-editor/composables/useEditorHandlers.ts
  apps/editor/src/app/app-editor/composables/useTableSelection.ts
  apps/editor/src/components/AppLayout.vue
  apps/editor/src/stores/app.store.ts
  docker-compose.dev.yml
  gemini.md
  scripts/check-line-limit.mjs
  scripts/start-dev-docker.sh
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore: bump version to 0.2.0 (breaking changes update)
  apps/client/package.json
  apps/client/public/version.json
  apps/editor/package.json
  package.json
Due: eslint --fix

docs: clarify submitted status locking behavior for simple mode
  docs/STATUS_FLOWS.md
Due: none

fix: resolve PWA update loop with SKIP_WAITING and fix TypeScript editor compile issues
  apps/client/public/version.json
  apps/client/src/common/services/UpdateService.ts
  apps/editor/src/app/app-editor/components/monitoring/SubmissionsPanel.vue
  apps/editor/src/stores/table.store.ts
Due: eslint --fix

fix: enforce anti-cache headers for index.html in nginx.conf
  apps/client/nginx.conf
Due: none

chore(main): release cerdas 0.1.68
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

chore: bump version to 0.2.1
  apps/client/package.json
  apps/client/public/version.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix: resolve ESLint errors to pass GitHub Actions Code Quality checks
  apps/client/src/common/services/EditorBridgeService.ts
  apps/client/src/components/views/DeckView.vue
  apps/client/src/pages/assignment-detail/composables/useAssignmentSave.ts
Due: eslint --fix

chore(main): release cerdas 0.1.69
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

chore: sync release-please manifest version to 0.2.1
  .release-please-manifest.json
Due: eslint --fix

chore(main): release cerdas 0.2.2
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

docs: append July 2026 updates to agent memory (gemini.md)
  gemini.md
Due: none

perf(export): optimize large dataset exports with lazy query loading and ZIP compression
  apps/backend/app/Http/Controllers/Api/ExportController.php
  apps/backend/app/Jobs/ProcessAsyncExport.php
  apps/editor/src/app/app-editor/components/monitoring/SubmissionsPanel.vue
Due: eslint --fix, php apps/backend/vendor/bin/pint

fix(client): unregister leftover service workers to resolve update loop
  apps/client/src/common/services/UpdateService.ts
Due: eslint --fix

bump(release): version 0.2.3 and update changelog metadata
  apps/client/package.json
  apps/client/public/version.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(editor): fix toast.setText is not a function in pollExportStatus
  apps/editor/src/app/app-editor/components/monitoring/SubmissionsPanel.vue
Due: eslint --fix

fix(client): skip preview auto-sync on startup in iframe and fix health check endpoint
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/client/src/common/services/HealthCheckService.ts
Due: eslint --fix

bump(release): version 0.2.4 and update changelog for preview and health check fixes
  apps/client/package.json
  apps/client/public/version.json
  apps/editor/package.json
  package.json
Due: eslint --fix

refactor(client): extract resolveTargetTableId to reduce cognitive complexity for linter
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
Due: eslint --fix

refactor(editor): extract message handler sub-functions to reduce cognitive complexity for ESLint
  apps/editor/src/app/app-editor/components/preview/LivePreview.vue
Due: eslint --fix

chore(release): synchronize release-please manifest version to 0.2.3
  .release-please-manifest.json
Due: eslint --fix

chore(main): release cerdas 0.2.4
  .release-please-manifest.json
  CHANGELOG.md
Due: eslint --fix

fix(backend): use hasAppAccess and getAccessibleAppIds to support organization app access on tables, assignments, and dashboard
  apps/backend/app/Http/Controllers/Api/AssignmentController.php
  apps/backend/app/Http/Controllers/Api/DashboardController.php
  apps/backend/app/Http/Controllers/Api/TableController.php
  apps/backend/app/Models/User.php
Due: php apps/backend/vendor/bin/pint

fix(client): sync using resolvedAppId instead of contextId to resolve table vs app id mismatch
  apps/client/package.json
  apps/client/public/version.json
  apps/client/src/app/dashboard/composables/app-shell/useAppMetadata.ts
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/editor/package.json
  package.json
Due: eslint --fix

chore(main): release cerdas 0.2.5
  .release-please-manifest.json
  CHANGELOG.md
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue,json}
  php apps/backend/vendor/bin/pint: any of: apps/backend/**/*.php
