Repository ihkaru/cerdas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, apps/backend/vendor/bin/pint

fix(ci): fail build if signing missing and verify keystore file
  .github/workflows/build-android.yml
  apps/client/android/app/build.gradle
Due: none

chore(main): release cerdas 0.1.7
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat(backend): add SHA-256 fingerprint to assetlinks.json for Google Login
  .github/workflows/build-android.yml
  apps/backend/public/.well-known/assetlinks.json
  apps/client/android/app/build.gradle
Due: eslint --fix

chore(main): release cerdas 0.1.8
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat(client): comprehensive 4-layer network diagnostics in HealthCheckService
  apps/client/src/common/services/HealthCheckService.ts
Due: eslint --fix

chore(main): release cerdas 0.1.9
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): log actual origin for CORS debugging
  apps/client/src/common/services/HealthCheckService.ts
Due: eslint --fix

chore(main): release cerdas 0.1.10
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix: convert debug menu to popup for Android scroll + fix CORS for capacitor
  COOLIFY_GUIDE.md
  apps/client/src/common/components/DebugMenuSheet.vue
  gemini.md
Due: eslint --fix

feat(ci): add release link to discord notification
  .github/workflows/build-android.yml
Due: none

docs: add push workflow best practices to gemini.md
  gemini.md
Due: none

feat(dev): dual android dev modes, cors fix, and healthcheck fix
  .agent/workflows/android-local.md
  .agent/workflows/android-remote.md
  apps/backend/Dockerfile.prod
  apps/client/.env.local-dev
  apps/client/.env.remote-dev
  apps/client/capacitor.config.ts
  gemini.md
  scripts/start-android-local.ps1
  scripts/start-android-remote.ps1
Due: eslint --fix

chore(main): release cerdas 0.1.11
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(prod): rename Caddyfile to avoid windows path in docker
  apps/backend/Caddyfile.local
  gemini.md
Due: none

chore(main): release cerdas 0.1.12
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(prod): set ownership to 1000:1000 to match coolify user
  apps/backend/Dockerfile.prod
Due: none

fix(prod): exclude bootstrap/cache to prevent dev dependency crash
  apps/backend/.dockerignore
  apps/backend/.gitignore
Due: none

chore(main): release cerdas 0.1.13
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

docs: update gemini.md with Pail fix
  gemini.md
Due: none

fix(prod): chown frankenphp binary to fix permission denied crash
  apps/backend/Dockerfile.prod
Due: none

fix(docker): enable local dev with database and proper build context
  .dockerignore
  DOCKER_DEV.md
  apps/backend/.gitignore
  apps/client/.dockerignore
  apps/editor/.dockerignore
  docker-compose.dev.yml
Due: none

docs(docker): add example env file for local dev
  .env.docker.example
Due: none

feat(backend): auto-run migrations on production startup
  .lintstagedrc.json
  apps/backend/Dockerfile.prod
  apps/backend/bootstrap/app.php
Due: eslint --fix, apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.14
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(android): production build uses static assets, dev scripts enbable live reload
  apps/client/capacitor.config.ts
  apps/client/tsconfig.node.json
  scripts/start-android-docker.ps1
  scripts/start-android-remote.ps1
Due: eslint --fix

chore(main): release cerdas 0.1.15
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

docs: add workflow debugging guide and android docker scripts
  .agent/workflows/android-docker.md
  DOCKER_DEV.md
  docs/WORKFLOW_AND_DEBUGGING.md
  start-android-docker.bat
Due: none

docs: enhance workflow diagrams with happy/unhappy paths
  docs/WORKFLOW_AND_DEBUGGING.md
Due: none

docs: add section on environment risks and build variants
  docs/WORKFLOW_AND_DEBUGGING.md
Due: none

feat(android): implement dev/prod build variants
  .github/workflows/build-android.yml
  apps/client/android/app/build.gradle
  test-android-prod.ps1
Due: none

chore(main): release cerdas 0.1.16
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

docs: update build variants status to implemented
  docs/WORKFLOW_AND_DEBUGGING.md
Due: none

fix(prod): correct frankenphp binary permissions and path
  apps/backend/Dockerfile.prod
  docker-compose.prod.yml
Due: none

chore(main): release cerdas 0.1.17
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(prod): update healthcheck endpoint to /up
  docker-compose.prod.yml
Due: none

chore(main): release cerdas 0.1.18
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat(ci): add audit-deployment script to prevent config errors
  audit-deployment.bat
  docs/WORKFLOW_AND_DEBUGGING.md
  scripts/audit-docker-config.js
Due: eslint --fix

feat(ci): expand audit checks for app_debug, env, and db_host
  docs/WORKFLOW_AND_DEBUGGING.md
  scripts/audit-docker-config.js
Due: eslint --fix

chore(main): release cerdas 0.1.19
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(prod): use start-container.sh script for robust startup
  apps/backend/Dockerfile.prod
  apps/backend/start-container.sh
  docker-compose.prod.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,vue,json}
  apps/backend/vendor/bin/pint: any of: apps/backend/**/*.php
