Repository ihkaru/cerdas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, php apps/backend/vendor/bin/pint

feat(examples): clarify education semantics, add cross-validation for totals
  examples/kuesioner-sambora/schema.json
Due: eslint --fix

fix(examples): split age 60-69 into 60-64/65-69, add usia kerja cross-validation
  examples/kuesioner-sambora/schema.json
Due: eslint --fix

fix(examples): normalize label from Penduduk to Anggota in seksi IV
  examples/kuesioner-sambora/schema.json
Due: eslint --fix

feat(examples): add UMKM, BPJS, and Bansos validations in seksi IV
  examples/kuesioner-sambora/schema.json
Due: eslint --fix

feat(editor): extract AI Context prompt to generateAIPrompt.ts, add Ch8-10
  apps/editor/src/app/app-editor/components/code/CodeEditorTab.vue
  apps/editor/src/app/app-editor/components/code/generateAIPrompt.ts
Due: eslint --fix

fix(editor): use strict !== undefined for eqeqeq compliance
  apps/editor/src/app/app-editor/components/code/CodeEditorTab.vue
Due: eslint --fix

feat(sheets): implement google sheet sync mvp and audit trail
  .env.docker.example
  ROADMAP.md
  apps/backend/app/Http/Controllers/Api/AssignmentController.php
  apps/backend/app/Http/Controllers/Api/GoogleSheetSyncController.php
  apps/backend/app/Http/Controllers/Api/ResponseController.php
  apps/backend/app/Imports/PrelistImport.php
  apps/backend/app/Jobs/GoogleSheetBatchFlushJob.php
  apps/backend/app/Jobs/GoogleSheetEnqueueRowJob.php
  apps/backend/app/Jobs/GoogleSheetInitialExportJob.php
  apps/backend/app/Jobs/GoogleSheetTokenRefreshJob.php
  apps/backend/app/Models/Assignment.php
  apps/backend/app/Models/GoogleOAuthToken.php
  apps/backend/app/Models/PendingSheetRow.php
  apps/backend/app/Models/Response.php
  apps/backend/app/Services/GoogleOAuthService.php
  apps/backend/app/Services/GoogleSheetColumnMapper.php
  apps/backend/app/Services/GoogleSheetsService.php
  apps/backend/config/services.php
  apps/backend/database/migrations/2026_07_19_000001_create_google_oauth_tokens_table.php
  apps/backend/database/migrations/2026_07_19_000002_create_pending_sheet_rows_table.php
  apps/backend/database/migrations/2026_07_19_130000_add_status_history_to_assignments_table.php
  apps/backend/debug_forms.php
  apps/backend/routes/api.php
  apps/backend/routes/console.php
  apps/editor/public/oauth-callback.html
  apps/editor/src/app/app-editor/components/data/TableSheetSyncPanel.vue
  apps/editor/src/app/app-editor/components/layout/EditorTabContent.vue
  apps/editor/src/app/app-editor/components/monitoring/CsvImportPopup.vue
  apps/editor/src/app/app-editor/components/monitoring/SubmissionsPanel.vue
  apps/editor/src/app/app-editor/composables/useGoogleSheetSync.ts
  apps/editor/src/common/api/GoogleSheetApi.ts
  docker-compose.dev.yml
  docker-compose.prod.yml
  docs/GOOGLE_SHEET_SYNC_PLAN.md
  gemini.md
  packages/types/src/google-sheet.ts
  packages/types/src/index.ts
  scripts/check-line-limit.mjs
  scripts/verify-local.ps1
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release 0.2.38
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat(gps): support manual input in gps field & add nested forms for sambora schema
  apps/client/public/version.json
  examples/kuesioner-sambora/schema.json
  gemini.md
  packages/form-engine/src/components/fields/GpsField.vue
  packages/form-engine/src/types/schema.ts
Due: eslint --fix

chore(main): release 0.2.39
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

chore: update gemini.md memory to version 0.2.39
  gemini.md
Due: none

fix(sheets): preserve active google sheets sync config on app schema update
  apps/backend/app/Http/Controllers/Api/AppSchemaController.php
  apps/client/public/version.json
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release 0.2.40
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

chore: update gemini.md memory to version 0.2.40
  gemini.md
Due: none

feat(sheets): support dynamic nested repeatable tables sync from json columns
  apps/backend/app/Jobs/GoogleSheetBatchFlushJob.php
  apps/backend/app/Jobs/GoogleSheetEnqueueRowJob.php
  apps/backend/app/Jobs/GoogleSheetInitialExportJob.php
  apps/backend/app/Services/GoogleSheetsService.php
Due: php apps/backend/vendor/bin/pint

feat(sheets): support arbitrary N-level deeply nested forms with clear parent-child lineage
  apps/backend/app/Jobs/GoogleSheetEnqueueRowJob.php
  apps/backend/app/Jobs/GoogleSheetInitialExportJob.php
  apps/backend/app/Services/GoogleSheetColumnMapper.php
Due: php apps/backend/vendor/bin/pint

docs: update gemini memory progress log for nested sync updates
  gemini.md
Due: none

chore(main): release 0.2.41
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(sheets): use valid deterministic UUID v5 for child response ID to fix DB length truncation
  apps/backend/app/Jobs/GoogleSheetEnqueueRowJob.php
  apps/backend/app/Jobs/GoogleSheetInitialExportJob.php
  apps/backend/app/Services/GoogleSheetColumnMapper.php
Due: php apps/backend/vendor/bin/pint

chore(schema): update RT options in Sambora questionnaire based on official village table
  examples/kuesioner-sambora/schema.json
Due: eslint --fix

chore: upgrade pnpm to v11.17.0 and fix package manager consistency
  .agent/AGENTS.md
  .agents/AGENTS.md
  .github/workflows/build-android.yml
  apps/client/Dockerfile.prod
  apps/client/package.json
  apps/editor/Dockerfile.prod
  apps/editor/src/components/AppLayout.vue
  apps/editor/src/composables/useSchemaAutocomplete.ts
  apps/editor/src/stores/notification.store.ts
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  pnpm.json
  scripts/build-android-prod.ps1
  scripts/start-android-docker.ps1
  scripts/start-android-local.ps1
  scripts/start-android-remote.ps1
  scripts/test-android-prod.ps1
  scripts/verify-build.ps1
Due: eslint --fix

fix: remove custom-search from searchbar & bump version to 0.2.42
  apps/client/android/app/build.gradle
  apps/client/package-lock.json
  apps/client/package.json
  apps/client/src/app/dashboard/components/AppShellStatusFilter.vue
  apps/editor/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix

chore(main): release 0.2.42
  .release-please-manifest.json
  CHANGELOG.md
Due: eslint --fix

fix(client): optimize infinite scroll pagination watcher and sentinel & bump version to 0.2.43
  apps/client/android/app/build.gradle
  apps/client/package.json
  apps/client/src/pages/AppShell.vue
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(docker): update Node base image to node:22-alpine for pnpm v11 compatibility in Coolify
  apps/client/Dockerfile.prod
  apps/client/android/app/build.gradle
  apps/client/package.json
  apps/editor/Dockerfile.prod
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): fix searchbar display flex and sticky offset & bump 0.2.45
  apps/client/android/app/build.gradle
  apps/client/package.json
  apps/client/src/app/dashboard/components/AppShellStatusFilter.vue
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): use bulletproof custom searchbar to bypass F7 display none & bump 0.2.46
  apps/client/android/app/build.gradle
  apps/client/package.json
  apps/client/src/app/dashboard/components/AppShellStatusFilter.vue
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): adjust tab padding top offset to prevent navbar overlap & bump 0.2.47
  apps/client/android/app/build.gradle
  apps/client/package.json
  apps/client/src/pages/AppShell.vue
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): use !important to force search input text visibility & bump 0.2.48
  apps/client/android/app/build.gradle
  apps/client/package.json
  apps/client/src/app/dashboard/components/AppShellStatusFilter.vue
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): fix search input text visibility & layout sizing issues (bump to 0.2.49)
  apps/client/package.json
  apps/client/public/version.json
  apps/client/src/app/dashboard/components/AppShellStatusFilter.vue
Due: eslint --fix

chore(main): release 0.2.43
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

docs: add versioning SOP and update gemini.md with bump version protocol
  docs/VERSIONING_SOP.md
  gemini.md
Due: none

fix(client): align version to 0.2.48 — release please will bump to 0.2.49
  .release-please-manifest.json
  apps/client/package.json
Due: eslint --fix

chore(main): release 0.2.49
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat(editor): upgrade AI context prompt generator with epistemic manual
  .agent/AGENTS.md
  .agents/AGENTS.md
  GEMINI.md
  apps/editor/src/app/app-editor/components/code/generateAIPrompt.ts
Due: eslint --fix

feat(apps): implement industry-standard 30-day app trash lifecycle, recovery, and force delete
  apps/backend/app/Http/Controllers/Api/AppController.php
  apps/backend/routes/api.php
  apps/editor/src/app/app-editor/components/data/TrashModal.vue
  apps/editor/src/app/app-editor/components/settings/AppSettingsPanel.vue
  apps/editor/src/app/app-editor/composables/useTableSelection.ts
  apps/editor/src/components/AppLayout.vue
  apps/editor/src/pages/AppsPage.vue
  apps/editor/src/pages/components/AppTrashModal.vue
  apps/editor/src/stores/app.store.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

fix(sync): include soft-deleted apps in delta sync and enable network pull-to-refresh
  .lintstagedrc.json
  apps/backend/app/Http/Controllers/Api/DashboardController.php
  apps/client/src/app/dashboard/views/DashboardPage.vue
Due: eslint --fix, php apps/backend/vendor/bin/pint

fix(editor): trigger full network sync on iframe preview refresh
  apps/client/src/common/services/EditorBridgeService.ts
Due: eslint --fix

feat(import): upgrade column type detection and support full Cerdas field types
  apps/backend/app/Http/Controllers/Api/ExcelImportController.php
  apps/editor/src/app/app-editor/components/data/ExcelImportModal.css
  apps/editor/src/app/app-editor/components/data/ExcelImportModal.vue
  apps/editor/src/app/app-editor/services/excelImportService.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

fix(editor): add url, lookup, and nested to valid field types in json validator
  apps/editor/src/app/app-editor/utils/validators/constants.ts
  apps/editor/src/app/app-editor/utils/validators/fieldValidator.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue,json}
  php apps/backend/vendor/bin/pint: any of: apps/backend/**/*.php
