Repository ihkaru/cerdas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, apps/backend/vendor/bin/pint

.lintstagedrc.json:

{
  "*.{js,ts,vue,json}": [
    "eslint --fix"
  ],
  "apps/backend/**/*.php": [
    "apps/backend/vendor/bin/pint"
  ]
}

chore: remove temporary lint reports
  lint_report.txt
  pint_report.txt
Due: none

fix(ci): add pnpm caching, fix heredoc quoting, add PR paths filter
  .github/workflows/build-android.yml
  .github/workflows/code-quality.yml
Due: none

feat(ci): add pre-push build verification hook
  .husky/pre-push
  scripts/verify-build.ps1
Due: none

feat(ci): upgrade pre-push hook to full Android build verification
  .husky/pre-push
  scripts/verify-build.ps1
Due: none

fix(android): robust signing config loading to prevent local build failures
  apps/client/android/app/build.gradle
Due: none

chore(ci): add manual verification workflow and fix script encoding
  .agent/workflows/verify-build.md
  scripts/verify-build.ps1
Due: none

fix(ci): add contents: write permission for GitHub release
  .github/workflows/build-android.yml
Due: none

fix(editor): normalize api base url to prevent double path in echo config
  apps/editor/src/common/echo.ts
Due: eslint --fix

fix(backend): skip scripts in composer dump-autoload during docker build
  apps/backend/Dockerfile.prod
Due: none

fix(backend): run package discovery and optimization at runtime in docker entrypoint
  apps/backend/Dockerfile.prod
Due: none

feat: unified versioning, production health check, smart pre-push hook
  .agent/workflows/verify-build.md
  .github/workflows/build-android.yml
  .husky/pre-push
  apps/client/android/app/build.gradle
  apps/client/src/App.vue
  apps/client/src/app/auth/views/Login.vue
  apps/client/src/app/dashboard/components/AppShellMenu.vue
  apps/client/src/common/components/DebugMenuSheet.vue
  apps/client/src/common/services/HealthCheckService.ts
  apps/client/src/main.ts
  apps/client/src/pages/AppShell.vue
  apps/client/src/types/env.d.ts
  apps/client/vite.config.ts
  apps/editor/vite.config.ts
  package.json
  scripts/sync-version.mjs
  scripts/verify-build.ps1
Due: eslint --fix

feat: enhanced debug menu with runtime log viewer and auth state
  apps/client/src/common/components/DebugMenuSheet.vue
  apps/client/src/common/utils/logger.ts
Due: eslint --fix

feat: automated versioning with release-please + commitlint
  .github/workflows/build-android.yml
  .github/workflows/release-please.yml
  .husky/commit-msg
  .release-please-manifest.json
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  release-please-config.json
Due: eslint --fix

fix: debug menu rendering on Android - use plain HTML instead of F7 slots
  apps/client/src/common/components/DebugMenuSheet.vue
Due: eslint --fix

fix(ci): disable composer scripts in code quality workflow to prevent env errors
  .github/workflows/code-quality.yml
Due: none

fix(client): resolve lint warnings in AppGallery.vue
  apps/client/src/app/dashboard/components/AppGallery.vue
Due: eslint --fix

feat(ci): automate android build trigger from release-please
  .github/workflows/build-android.yml
  .github/workflows/release-please.yml
Due: none

chore(ci): enable manual trigger inputs for android build
  .github/workflows/build-android.yml
Due: none

fix(client): improve debug menu scrolling on android
  apps/client/src/common/components/DebugMenuSheet.vue
Due: eslint --fix

fix(prod): improve android debug scrolling and health check, add assetlinks, print sha256 in ci
  .github/workflows/build-android.yml
  apps/backend/public/.well-known/assetlinks.json
  apps/backend/routes/api.php
  apps/client/src/common/services/HealthCheckService.ts
Due: eslint --fix, apps/backend/vendor/bin/pint

fix(ci): show full keytool output to avoid grep exit code failure
  .github/workflows/build-android.yml
Due: none

fix(backend): add android origins to cors allow list
  apps/backend/config/cors.php
Due: apps/backend/vendor/bin/pint

feat(client): add advanced connection probe and fix ApiClient
  apps/client/src/common/api/ApiClient.ts
  apps/client/src/common/services/HealthCheckService.ts
Due: eslint --fix

feat(ci): add discord notification support
  .github/workflows/build-android.yml
Due: none

fix(ci): restore github token and fix yaml syntax
  .github/workflows/build-android.yml
Due: none

fix(ci): declare secrets in workflow_call definition
  .github/workflows/build-android.yml
Due: none

fix(ci): restore workflow_dispatch trigger
  .github/workflows/build-android.yml
Due: none

fix(ci): use env var for discord checking
  .github/workflows/build-android.yml
Due: none

fix(ci): remove reserved GITHUB_TOKEN from workflow_call definition
  .github/workflows/build-android.yml
Due: none

fix(ci): grant write permissions to release-please
  .github/workflows/release-please.yml
Due: none

feat: add GitHub Actions workflow for automated releases and Android build triggering
  .github/workflows/release-please.yml
Due: none

chore(ci): add id-token permission and fix condition
  .github/workflows/release-please.yml
Due: none

chore(ci): use PAT token for release-please and update docs
  .github/workflows/release-please.yml
Due: none

chore(main): release cerdas 0.1.5
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

chore(ci): update workflow conditions for release and secrets
  .github/workflows/build-android.yml
Due: none

chore(android): add debug logging for signing config
  apps/client/android/app/build.gradle
Due: none

fix(android): repair build.gradle syntax
  apps/client/android/app/build.gradle
Due: none

fix(ci): simplify discord notification to avoid length limit
  .github/workflows/build-android.yml
Due: none

chore(main): release cerdas 0.1.6
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix
