Repository ihkaru/cerdas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, php apps/backend/vendor/bin/pint

.lintstagedrc.json:

{
  "*.{js,ts,vue,json}": [
    "eslint --fix"
  ],
  "apps/backend/**/*.php": [
    "php apps/backend/vendor/bin/pint"
  ]
}

fix(docker): audit production setup, fix CORS, remove redundancies
  apps/backend/config/cors.php
  apps/backend/config/sanctum.php
  apps/backend/docker-compose.yml
  docker-compose.prod.yml
  gemini.md
Due: php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.40
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat: optimize map view, add google basemap toggle, and fix pagination
  apps/backend/Caddyfile.local
  apps/backend/app/Http/Controllers/Api/AppController.php
  apps/backend/app/Http/Controllers/Api/NotificationController.php
  apps/backend/app/Jobs/ImportExcelJob.php
  apps/backend/app/Models/App.php
  apps/backend/config/cors.php
  apps/backend/database/migrations/2026_02_17_000001_add_views_to_apps_table.php
  apps/client/package.json
  apps/client/src/app/dashboard/composables/app-shell/useAppMetadata.ts
  apps/client/src/app/dashboard/composables/app-shell/useAssignmentQueries.ts
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/client/src/app/dashboard/services/AppMetadataService.ts
  apps/client/src/common/database/schema.ts
  apps/client/src/components/views/DeckView.vue
  apps/client/src/components/views/MapView.vue
  apps/client/src/pages/AppShell.vue
  apps/editor/src/app/app-editor/components/shared/FieldPicker.vue
  apps/editor/src/app/app-editor/components/views/config/GroupByConfig.vue
  apps/editor/src/app/app-editor/components/views/config/ViewConfigPanel.vue
  apps/editor/src/app/app-editor/components/views/config/view-types/MapViewConfig.vue
  apps/editor/src/app/app-editor/components/views/sidebar/ViewsSidebar.vue
  apps/editor/src/app/app-editor/composables/useEditorHandlers.ts
  apps/editor/src/app/app-editor/composables/useNavigationManagement.ts
  packages/form-engine/package.json
  packages/form-engine/src/components/fields/GpsField.vue
  packages/form-engine/src/index.ts
  packages/form-engine/src/utils/maplibreUtils.ts
  pnpm-lock.yaml
  scripts/backend/php-cgi.bat
  scripts/start-all.bat
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.41
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

perf(map): optimize buildGeoJson and add clustering config
  apps/client/src/components/views/MapView.vue
  gemini.md
  package.json
  pnpm-lock.yaml
Due: eslint --fix

chore(main): release cerdas 0.1.42
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat(editor): improve UX hierarchy and optimize map view
  apps/client/src/app/dashboard/components/AppGallery.vue
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/client/src/app/dashboard/repositories/DashboardRepository.ts
  apps/client/src/app/dashboard/stores/dashboardStore.ts
  apps/client/src/app/dashboard/types/index.ts
  apps/client/src/common/services/SyncService.ts
  apps/client/src/components/views/MapView.vue
  apps/editor/src/app/app-editor/AppEditorPage.vue
  apps/editor/src/app/app-editor/components/layout/EditorHeader.vue
  gemini.md
Due: eslint --fix

fix(client): import App type in DashboardRepository
  apps/client/src/app/dashboard/repositories/DashboardRepository.ts
Due: eslint --fix

fix(client): resolve TypeScript error in useAppShellLogic
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
Due: eslint --fix

fix(client): rename unused variable in AppGallery
  apps/client/src/app/dashboard/components/AppGallery.vue
Due: eslint --fix

chore(main): release cerdas 0.1.43
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat(client): implement async map rendering engine and simple memory optimizations
  apps/client/src/app/dashboard/composables/app-shell/useAppShellState.ts
  apps/client/src/components/views/MapView.vue
  gemini.md
Due: eslint --fix

fix(editor): Live Preview Reactivity, GroupBy Logic & UX
  apps/client/src/app/dashboard/composables/app-shell/useAppMetadata.ts
  apps/client/src/app/dashboard/composables/app-shell/useAssignmentQueries.ts
  apps/client/src/app/dashboard/composables/app-shell/useGroupingLogic.ts
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/client/src/app/dashboard/composables/useAppShellSync.ts
  apps/client/src/app/dashboard/services/AppMetadataService.ts
  apps/client/src/app/dashboard/services/AssignmentQueryService.ts
  apps/client/src/app/dashboard/stores/dashboardStore.ts
  apps/client/src/common/composables/useSync.ts
  apps/client/src/common/services/SyncService.ts
  apps/client/src/main.ts
  apps/editor/src/app/app-editor/AppEditorPage.vue
  apps/editor/src/app/app-editor/components/field-config/sections/FieldBasicSection.vue
  apps/editor/src/app/app-editor/components/layout/EditorPreviewPanel.vue
  apps/editor/src/app/app-editor/components/layout/EditorSidebar.vue
  apps/editor/src/app/app-editor/components/layout/EditorTabContent.vue
  apps/editor/src/app/app-editor/components/preview/LivePreview.vue
  apps/editor/src/app/app-editor/components/views/ViewsPanel.vue
  apps/editor/src/app/app-editor/components/views/config/ViewConfigPanel.vue
  apps/editor/src/app/app-editor/components/views/sidebar/ViewsSidebar.vue
  apps/editor/src/app/app-editor/composables/core/useEditorState.ts
  apps/editor/src/app/app-editor/composables/useAppViewManagement.ts
  apps/editor/src/app/app-editor/composables/useEditorHandlers.ts
  apps/editor/src/app/app-editor/composables/useEditorLifecycle.ts
  apps/editor/src/app/app-editor/composables/useEditorPanels.ts
  apps/editor/src/app/app-editor/composables/useViewManagement.ts
  apps/editor/src/app/app-editor/types/editor.types.ts
Due: eslint --fix

fix(client): resolve SyncService type errors blocking build
  apps/client/src/common/services/SyncService.ts
Due: eslint --fix

chore(main): release cerdas 0.1.44
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): remove commented out code in SyncService.ts to satisfy CI linter
  apps/client/src/common/services/SyncService.ts
Due: eslint --fix

chore(main): release cerdas 0.1.45
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): optimize map cluster memory & enable largeHeap for stability
  apps/client/android/app/src/main/AndroidManifest.xml
  apps/client/src/components/views/MapView.vue
Due: eslint --fix

chore(main): release cerdas 0.1.46
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat(client): remove pagination from assignment list
  apps/client/src/components/views/DeckView.vue
Due: eslint --fix

feat(client): update header title to use view name
  apps/client/src/pages/AppShell.vue
Due: eslint --fix

chore(main): release cerdas 0.1.47
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(backend): increase upload memory limit and clarify health check timeout
  apps/backend/app/Http/Controllers/Api/AuthController.php
  apps/backend/app/Http/Controllers/Api/ExcelImportController.php
  apps/backend/app/Http/Controllers/Api/TableController.php
  apps/backend/app/Jobs/ImportExcelJob.php
  apps/backend/app/Models/App.php
  apps/backend/app/Models/AppRecord.php
  apps/backend/app/Models/Assignment.php
  apps/backend/app/Models/Organization.php
  apps/backend/app/Models/OrganizationInvitation.php
  apps/backend/app/Models/Response.php
  apps/backend/app/Models/Table.php
  apps/backend/app/Models/User.php
  apps/backend/move_form_smart.php
  apps/backend/routes/api.php
  apps/backend/upload.ini
  apps/client/src/common/services/HealthCheckService.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.48
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

perf(backend): remove logging from auth check
  apps/backend/app/Http/Controllers/Api/AuthController.php
Due: php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.49
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

perf(client): improve app shell load performance and UX
  .gitignore
  apps/backend/Caddyfile.local
  apps/backend/app/Console/Commands/CleanOrphanedViewConfigs.php
  apps/backend/app/Http/Controllers/Api/DashboardController.php
  apps/backend/app/Http/Controllers/Api/TableController.php
  apps/backend/app/Http/Middleware/HandleOptionsGracefully.php
  apps/backend/app/Jobs/ImportExcelJob.php
  apps/backend/bootstrap/app.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/storage/debugbar/.gitignore
  apps/client/src/app/dashboard/components/DashboardSettingsSheet.vue
  apps/client/src/app/dashboard/composables/app-shell/useAppMetadata.ts
  apps/client/src/app/dashboard/composables/app-shell/useAppShellState.ts
  apps/client/src/app/dashboard/composables/app-shell/useAssignmentQueries.ts
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/client/src/app/dashboard/views/DashboardPage.vue
  apps/client/src/common/services/SyncService.ts
  apps/client/src/pages/AppShell.vue
  gemini.md
  references/SCREEN_FLOW.md
  scripts/backend/start-queue.bat
  scripts/start-all.bat
Due: eslint --fix, php apps/backend/vendor/bin/pint

feat: safe deletion, trash management, and TS strict fixes
  apps/backend/app/Console/Commands/CleanTrashCommand.php
  apps/backend/app/Http/Controllers/Api/TableController.php
  apps/backend/app/Imports/PrelistImport.php
  apps/backend/check_uniq.php
  apps/backend/count_db.php
  apps/backend/deduplicate.php
  apps/backend/optimize_dedupe.php
  apps/backend/routes/api.php
  apps/backend/routes/console.php
  apps/backend/sample.php
  apps/client/index.html
  apps/client/src/app/dashboard/composables/app-shell/useAppMetadata.ts
  apps/client/src/components/views/MapView.vue
  apps/client/src/components/views/map/components/MapContainer.vue
  apps/client/src/components/views/map/components/MapListPanel.vue
  apps/client/src/components/views/map/composables/useMapGeoJson.ts
  apps/client/src/components/views/map/composables/useMapInstance.ts
  apps/client/src/components/views/map/composables/useMapLayers.ts
  apps/client/src/components/views/map/composables/useMapPopup.ts
  apps/client/src/components/views/map/composables/useMapUserLocation.ts
  apps/client/src/components/views/map/utils/mapColorResolver.ts
  apps/client/src/components/views/map/utils/mapCoordinates.ts
  apps/client/src/components/views/map/utils/mapStyles.ts
  apps/editor/build-errors.txt
  apps/editor/index.html
  apps/editor/src/app/app-editor/components/actions/ActionEditorModal.vue
  apps/editor/src/app/app-editor/components/data/TrashModal.vue
  apps/editor/src/app/app-editor/components/layout/EditorTabContent.vue
  apps/editor/src/app/app-editor/composables/useTableSelection.ts
  apps/editor/src/app/app-editor/composables/useViewConfigSync.ts
  apps/editor/src/common/echo.ts
  apps/editor/src/components/AppLayout.vue
  apps/editor/src/pages/OrganizationsPage.vue
  apps/editor/src/stores/table.store.ts
  gemini.md
Due: eslint --fix, php apps/backend/vendor/bin/pint

fix(queue): extend worker max-time to 4h to prevent excel imports from crashing mid-execution
  apps/backend/app/Jobs/ImportExcelJob.php
  apps/backend/get())
  scripts/backend/start-queue.bat
Due: php apps/backend/vendor/bin/pint

style: fix backend pint formatting
  apps/backend/app/Console/Commands/CleanOrphanedViewConfigs.php
  apps/backend/app/Http/Controllers/Api/AuthController.php
  apps/backend/app/Http/Controllers/Api/DashboardController.php
  apps/backend/app/Http/Middleware/HandleOptionsGracefully.php
  apps/backend/bootstrap/app.php
  apps/backend/tests/verify_broadcasting_config.php
  apps/backend/tests/verify_invitation_flow.php
Due: php apps/backend/vendor/bin/pint

fix(client): recreate sqlite schema instantly during local db reset to prevent no such table errors
  apps/client/src/common/database/DatabaseService.ts
  gemini.md
Due: eslint --fix

chore(docker): optimize docker builds to prevent OOM - Switch backend to Debian base image to use precompiled extensions - Add memory limits to Vite builds
  apps/backend/Dockerfile.prod
  apps/client/Dockerfile.prod
  apps/editor/Dockerfile.prod
Due: none

chore(docker): pipe Reverb env variables to frontend build context
  .husky/pre-push
  apps/client/Dockerfile.prod
  apps/editor/Dockerfile.prod
  docker-compose.prod.yml
Due: none

perf(docker): optimize chown execution for instant builds
  apps/backend/Dockerfile.prod
Due: none

perf(docker): introduce BuildKit cache mounts for instant NPM/Composer instals
  apps/backend/Dockerfile.prod
  apps/client/Dockerfile.prod
  apps/editor/Dockerfile.prod
Due: none

fix(form-engine): resolve gps field rendering issues and add smart coordinate detection
  apps/backend/debug_fields.php
  packages/form-engine/src/components/FieldRenderer.vue
  packages/form-engine/src/components/fields/TextField.vue
Due: eslint --fix, php apps/backend/vendor/bin/pint

refactor: centralize field types into packages/types (SSOT)
  apps/editor/package.json
  apps/editor/src/app/app-editor/types/editor.types.ts
  packages/form-engine/package.json
  packages/form-engine/src/components/FieldRenderer.vue
  packages/form-engine/src/types/schema.ts
  packages/types/src/schema.ts
Due: eslint --fix

feat(form-engine): add direct google maps directions link to smart detection tip
  packages/form-engine/src/components/fields/TextField.vue
Due: eslint --fix

build: update pnpm-lock.yaml to sync with new dependencies
  pnpm-lock.yaml
Due: none
