Repository ihkaru/cerdas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, php apps/backend/vendor/bin/pint

.lintstagedrc.json:

{
  "*.{js,ts,vue,json}": [
    "eslint --fix"
  ],
  "apps/backend/**/*.php": [
    "php apps/backend/vendor/bin/pint"
  ]
}

chore: fix tests and enable test execution in CI/CD
  .github/workflows/code-quality.yml
  apps/client/tests/api.test.ts
  apps/editor/tests/stores/app.store.spec.ts
  apps/editor/tests/stores/table.store.spec.ts
Due: eslint --fix

chore: add qodana configuration
  .github/workflows/qodana.yml
  qodana.yaml
Due: none

docs: integrate qodana into workflows and update walkthrough
  apps/client/.env.example
  apps/editor/.env.example
  docs/WORKFLOW_AND_DEBUGGING.md
  scan-quality.bat
Due: none

chore: remove sonarcloud and rely on qodana
  .github/workflows/code-quality.yml
Due: none

chore: switch from qodana to open source quality stack (audit fixes, larastan, sonarjs)
  .github/workflows/qodana.yml
  CONTRIBUTING.md
  QUICKSTART.md
  README.md
  apps/backend/Dockerfile.prod
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/package.json
  apps/backend/phpstan.neon
  apps/editor/package.json
  audit-final.json
  audit-result.json
  audit.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  qodana.yaml
  scan-quality.bat
  scripts/audit-check.js
Due: eslint --fix

fix: critical bug in SyncService orphan cleanup destroying all synced assignments
  apps/backend/app/Http/Controllers/Api/DashboardController.php
  apps/backend/app/Http/Controllers/Api/ExportController.php
  apps/backend/app/Http/Controllers/Api/ResponseController.php
  apps/backend/app/Http/Controllers/Api/TableController.php
  apps/backend/app/Models/Response.php
  apps/backend/database/migrations/2026_02_14_120000_add_submitted_version_to_responses.php
  apps/backend/routes/api.php
  apps/client/src/app/dashboard/components/AppShellNavbar.vue
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/client/src/app/dashboard/repositories/DashboardRepository.ts
  apps/client/src/common/composables/useDirtyTracking.ts
  apps/client/src/common/composables/useVersionGate.ts
  apps/client/src/common/database/DatabaseService.ts
  apps/client/src/common/database/schema.ts
  apps/client/src/common/services/SyncService.ts
  apps/client/src/components/views/DeckView.vue
  apps/client/src/components/views/ViewRenderer.vue
  apps/client/src/pages/AppShell.vue
  apps/client/src/pages/AssignmentDetail.vue
  apps/client/src/pages/assignment-detail/AssignmentDetail.vue
  apps/client/src/pages/assignment-detail/components/ValidationSummarySheet.vue
  apps/client/src/pages/assignment-detail/components/VersionBanner.vue
  apps/client/src/pages/assignment-detail/composables/useAssignmentLoader.ts
  apps/client/src/pages/assignment-detail/composables/useAssignmentSave.ts
  apps/client/src/pages/assignment-detail/composables/useLivePreview.ts
  apps/client/src/pages/assignment-detail/composables/useValidationSummary.ts
  apps/client/src/pages/assignment-detail/composables/useVersionPinning.ts
  apps/client/src/routes.ts
  apps/editor/src/app/app-editor/AppEditorPage.vue
  apps/editor/src/app/app-editor/components/PublishDialog.vue
  apps/editor/src/app/app-editor/components/actions/ActionEditorModal.vue
  apps/editor/src/app/app-editor/components/actions/ActionsPanel.vue
  apps/editor/src/app/app-editor/components/views/config/ViewActionsSelector.vue
  apps/editor/src/app/app-editor/composables/useEditorHandlers.ts
  apps/editor/src/app/app-editor/types/editor.types.ts
  apps/editor/src/stores/table.store.ts
  gemini.md
Due: eslint --fix, php apps/backend/vendor/bin/pint

refactor: improve code quality and reduce cognitive complexity for release
  apps/client/src/App.vue
  apps/client/src/app/auth/views/Login.vue
  apps/client/src/app/dashboard/components/AppGallery.vue
  apps/client/src/app/dashboard/components/AppShellGroupList.vue
  apps/client/src/app/dashboard/composables/app-shell/useAppMetadata.ts
  apps/client/src/app/dashboard/composables/app-shell/useAssignmentQueries.ts
  apps/client/src/app/dashboard/composables/app-shell/useTableLoader.ts
  apps/client/src/app/dashboard/repositories/DashboardRepository.ts
Due: eslint --fix

fix: resolve vue-tsc build errors
  apps/client/src/App.vue
  apps/client/src/app/dashboard/composables/app-shell/useAppMetadata.ts
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/client/src/pages/AppShell.vue
Due: eslint --fix

fix: resolve remaining vue-tsc errors in useAppMetadata.ts
  apps/client/src/app/dashboard/composables/app-shell/useAppMetadata.ts
Due: eslint --fix

fix: resolve final type errors in useAppMetadata.ts
  apps/client/src/app/dashboard/composables/app-shell/useAppMetadata.ts
Due: eslint --fix

chore(main): release cerdas 0.1.33
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(ci): remove unused interfaces and resolve type mismatch
  apps/client/src/App.vue
  apps/client/src/app/dashboard/composables/app-shell/useAppMetadata.ts
  apps/client/src/pages/AppShell.vue
Due: eslint --fix

fix(lint): resolve remaining 20 lint errors and warnings
  apps/client/src/App.vue
  apps/client/src/app/dashboard/components/AppShellMenu.vue
  apps/client/src/app/dashboard/services/AssignmentQueryService.ts
  apps/client/src/common/api/ApiClient.ts
  apps/client/src/common/components/DebugMenuSheet.vue
  apps/client/src/common/services/SyncService.ts
  apps/client/src/common/stores/authStore.ts
  apps/client/src/common/utils/logger.ts
  apps/client/src/common/utils/uuid.ts
Due: eslint --fix

fix: resolve lint errors and add local verify scripts
  .husky/pre-push
  apps/client/src/app/dashboard/components/AppShellMenu.vue
  apps/client/src/app/dashboard/services/AssignmentQueryService.ts
  apps/client/src/common/api/ApiClient.ts
  apps/client/src/common/components/DebugMenuSheet.vue
  apps/client/src/common/utils/uuid.ts
  apps/client/src/components/views/DeckView.vue
  apps/client/src/components/views/FormView.vue
  apps/client/src/components/views/MapView.vue
  apps/client/src/main.ts
  apps/client/src/pages/DynamicViewPage.vue
  apps/client/src/pages/SyncPage.vue
  verify-local.ps1
  verify-local.sh
Due: eslint --fix

chore(main): release cerdas 0.1.34
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): resolve assignment detail empty data race condition and other improvements
  README.md
  apps/client/lint_errors.txt
  apps/client/src/pages/assignment-detail/composables/useAssignmentLoader.ts
  docs/DEVELOPMENT_LIFECYCLE.md
  gemini.md
  lint_report_2.txt
  lint_report_3.txt
Due: eslint --fix

chore(main): release cerdas 0.1.35
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

refactor: improve client UI components and fix editor lint errors
  apps/client/src/app/dashboard/components/AppGallery.vue
  apps/client/src/app/dashboard/components/AppShellNavbar.vue
  apps/client/src/app/dashboard/components/AppShellSyncOverlay.vue
  apps/client/src/app/dashboard/components/AssignmentFilterSheet.vue
  apps/client/src/app/dashboard/components/AssignmentSortSheet.vue
  apps/client/src/app/dashboard/components/DashboardStats.vue
  apps/client/src/app/dashboard/views/DashboardPage.vue
  apps/editor/src/App.vue
  apps/editor/src/app/app-editor/components/assignments/AddAssignmentPopup.vue
  apps/editor/src/app/app-editor/components/assignments/AssignmentsPanel.vue
  apps/editor/src/app/app-editor/components/field-config/composables/useLogicHelpers.ts
  apps/editor/src/app/app-editor/components/views/config/view-types/MapViewConfig.vue
  apps/editor/src/app/app-editor/components/views/utils/validations.ts
  apps/editor/src/app/app-editor/components/views/utils/viewHelpers.ts
  apps/editor/src/app/app-editor/composables/core/useEditorState.ts
  apps/editor/src/app/app-editor/utils/validators/fieldValidator.ts
  apps/editor/src/app/app-editor/utils/validators/viewValidator.ts
  apps/editor/src/app/pages/app-detail/composables/useAppDetail.ts
  apps/editor/src/components/CodeEditor.vue
  apps/editor/src/pages/AppDetailPage.vue
  apps/editor/src/pages/components/OrganizationDetailDialog.vue
  apps/editor/src/utils/refreshRate.ts
  editor-lint-errors.txt
  editor-lint-final.txt
  scripts/verify-build.ps1
Due: eslint --fix

fix: resolve map navigation error, fix geoUtils type break, and enhance excel import
  apps/backend/app/Http/Controllers/Api/ExcelImportController.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/routes/api.php
  apps/client/src/components/views/MapView.vue
  apps/client/src/components/views/ViewRenderer.vue
  apps/editor/src/app/app-editor/components/data/ExcelImportModal.vue
  apps/editor/src/app/app-editor/components/views/config/view-types/MapViewConfig.vue
  apps/editor/src/app/app-editor/composables/core/useSchemaTransform.ts
  apps/editor/src/app/app-editor/services/excelImportService.ts
  apps/editor/src/app/app-editor/types/editor.types.ts
  gemini.md
  packages/form-engine/src/components/fields/GpsField.vue
  packages/form-engine/src/components/fields/NumberField.vue
  packages/form-engine/src/index.ts
  packages/form-engine/src/utils/geoUtils.ts
  scripts/start-all.bat
Due: eslint --fix, php apps/backend/vendor/bin/pint

fix: correctly type and disable lint warnings for GpsField
  packages/form-engine/src/components/fields/GpsField.vue
Due: eslint --fix

fix: resolve MapView build break
  apps/client/src/components/views/MapView.vue
Due: eslint --fix

fix(form-engine): fix unknown type error in geoUtils
  packages/form-engine/src/utils/geoUtils.ts
Due: eslint --fix

feat: complete excel import robustness with batch splitting and job logging
  apps/backend/app/Jobs/ImportExcelJob.php
  apps/backend/database/migrations/2026_02_14_162511_create_jobs_table.php
  apps/backend/generate_csv.php
  work.bat
Due: php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.36
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(editor): fix broken relative import paths in store tests
  apps/editor/tests/stores/app.store.spec.ts
  apps/editor/tests/stores/table.store.spec.ts
Due: eslint --fix

fix: remove console.log to satisfy linter
  apps/client/src/app/dashboard/composables/app-shell/useGroupingLogic.ts
  apps/client/src/routes.ts
Due: eslint --fix

fix: add shared storage volume for production uploads
  COOLIFY_GUIDE.md
  apps/backend/config/sanctum.php
  docker-compose.prod.yml
Due: php apps/backend/vendor/bin/pint

fix: markdown formatting
  COOLIFY_GUIDE.md
Due: none

chore(main): release cerdas 0.1.37
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat: bypass 2000 record limit via cursor pagination for mobile sync
  apps/backend/app/Http/Controllers/Api/AssignmentController.php
  apps/client/src/common/services/SyncService.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

fix(sync): logic improvements and lint fixes
  apps/backend/app/Http/Controllers/Api/AssignmentController.php
  apps/client/src/common/services/SyncService.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

fix(sync): resolve lint errors
  apps/client/src/common/services/SyncService.ts
Due: eslint --fix

chore(main): release cerdas 0.1.38
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(backend): prevent calling total() on cursor paginator log
  apps/backend/app/Http/Controllers/Api/AssignmentController.php
Due: php apps/backend/vendor/bin/pint

fix(client): ensure sync updates correct local table record
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/client/src/common/services/SyncService.ts
  apps/client/src/pages/AppShell.vue
Due: eslint --fix

chore(main): release cerdas 0.1.39
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(backend): prepend HandleCors middleware to prevent intermittent CORS errors
  apps/backend/bootstrap/app.php
Due: php apps/backend/vendor/bin/pint
