Repository ihkaru/cerdas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, php apps/backend/vendor/bin/pint

fix(client): replace hardcoded v0.2.7 version fallback with dynamic __APP_VERSION__
  apps/client/src/app/dashboard/components/DashboardSettingsSheet.vue
  gemini.md
Due: eslint --fix

chore: synchronize all package.json files to version 0.2.31
  apps/client/package.json
  apps/client/public/version.json
  apps/editor/package.json
  package.json
Due: eslint --fix

test(client): force updateAvailable to true so user can test clicking Download APK Terbaru
  apps/client/src/app/dashboard/components/ApkDownloadCard.vue
Due: eslint --fix

fix(client): ensure latestVersion uses currentVersion fallback if cached version is older
  apps/client/src/app/dashboard/components/ApkDownloadCard.vue
Due: eslint --fix

fix(client): compute downloadUrl dynamically based on latestVersion
  apps/client/public/version.json
  apps/client/src/app/dashboard/components/ApkDownloadCard.vue
Due: eslint --fix

chore: bump release version to 0.2.32
  .release-please-manifest.json
  apps/client/package.json
  apps/client/public/version.json
  apps/editor/package.json
  gemini.md
  package.json
Due: eslint --fix

chore(main): release cerdas 0.2.33
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

docs: update memory log for v0.2.31 and v0.2.32
  gemini.md
Due: none

docs: add v0.2.33 release verification log to gemini.md
  gemini.md
Due: none

fix(client): fix hardcoded updateAvailable logic in ApkDownloadCard
  apps/client/src/app/dashboard/components/ApkDownloadCard.vue
Due: eslint --fix

fix(client): make downloadUrl verification fully dynamic without version hardcode
  apps/client/src/app/dashboard/components/ApkDownloadCard.vue
Due: eslint --fix

chore(main): release cerdas 0.2.34
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

docs: add v0.2.34 release log to gemini.md
  gemini.md
Due: none

feat(examples): add newlywed helper question and guidelines to Sambora schema
  examples/kuesioner-sambora/schema.json
Due: eslint --fix

feat(examples): generalize newlywed guide into a generic physical KK guide in schema
  examples/kuesioner-sambora/schema.json
Due: eslint --fix

feat(examples): add multiple-family notes to physical KK guidelines in schema
  examples/kuesioner-sambora/schema.json
Due: eslint --fix

feat(examples): expand suku options and streamline html_blocks into hints in schema
  examples/kuesioner-sambora/schema.json
Due: eslint --fix

feat(examples): remove redundant panduan_kendala_lapangan block to improve form opening UX
  examples/kuesioner-sambora/schema.json
Due: eslint --fix

chore(main): release cerdas 0.2.35
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(backend): use hasAppAccess instead of contains on array in AssignmentController destroy
  apps/backend/app/Http/Controllers/Api/AssignmentController.php
Due: php apps/backend/vendor/bin/pint

docs: add v0.2.35 release log to gemini.md
  gemini.md
Due: none

fix(backend): resolve model relation property name collision in IDE
  apps/backend/app/Http/Controllers/Api/AssignmentController.php
  apps/backend/app/Models/AppRecord.php
  apps/backend/app/Models/Assignment.php
  apps/backend/app/Models/ExportJob.php
  apps/backend/app/Models/TableVersion.php
  apps/backend/app/Models/View.php
  gemini.md
Due: php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.2.36
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(release): disable component prefix in release tags
  gemini.md
  release-please-config.json
Due: eslint --fix

chore(main): release 0.2.37
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

docs: optimize project memory and standardize release SOP
  README.md
  docs/DEVELOPMENT_LIFECYCLE.md
  gemini.md
Due: none

docs: align task tracker and feature roadmap with current release
  ROADMAP.md
  docs/task.md
Due: none

docs: correct assignment status flow and remove stale static analysis guides
  docs/TERMINOLOGY_DISAMBIGUATION.md
  docs/WORKFLOW_AND_DEBUGGING.md
Due: none

docs: move visual editor features to completed in roadmap
  ROADMAP.md
Due: none

docs: clarify row-level security and onboarding features in roadmap
  ROADMAP.md
Due: none

docs: move smart delta sync to completed in roadmap
  ROADMAP.md
Due: none

docs: replace visual logic builder with AI-assisted vibe coding in roadmap
  ROADMAP.md
Due: none

docs: remove background sync from roadmap (conflicts with offline-first arch)
  ROADMAP.md
Due: none

docs: expand reference docs in gemini.md with all developer guides
  gemini.md
Due: none

docs: fix port inconsistencies, stale status ref, and add release SOP pointer in gemini.md
  README.md
  docs/DEVELOPMENT_LIFECYCLE.md
  gemini.md
Due: none

docs: fix port 8080->9980 in QUICKSTART and add it to gemini.md references
  QUICKSTART.md
  gemini.md
Due: none

chore: add scan-console-log.ps1 script to detect leftover console statements
  scripts/scan-console-log.ps1
Due: none

feat: drop console statements in prod builds and migrate editor to logger utility
  apps/client/vite.config.ts
  apps/editor/src/routes.ts
  apps/editor/src/stores/app.store.ts
  apps/editor/src/utils/logger.ts
  apps/editor/vite.config.ts
Due: eslint --fix

fix(client): move esbuild drop option to top-level config for Vite 6 compat
  apps/client/vite.config.ts
Due: eslint --fix

feat(examples): auto-compute Jumlah_Kartu_Keluarga via formula_fn, add contextual warning_js
  examples/kuesioner-sambora/schema.json
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue,json}
  php apps/backend/vendor/bin/pint: any of: apps/backend/**/*.php
