Repository ihkaru/cerdas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, php apps/backend/vendor/bin/pint

.lintstagedrc.json:

{
  "*.{js,ts,vue,json}": [
    "eslint --fix"
  ],
  "apps/backend/**/*.php": [
    "php apps/backend/vendor/bin/pint"
  ]
}

chore(main): release cerdas 0.1.20
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

chore(debug): trace frankenphp binary location
  apps/backend/start-container.sh
Due: none

chore: add script to consolidate docker configs
  consolidate-docker.bat
Due: none

feat(tools): add script to generate consolidated docker context
  .gitignore
  generate-docker-context.bat
  scripts/generate-docker-context.js
Due: eslint --fix

fix(prod): pin frankenphp, tune healthcheck, disable auto-download
  apps/backend/Dockerfile.prod
  apps/backend/start-container.sh
  docker-compose.prod.yml
Due: none

chore(main): release cerdas 0.1.21
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(prod): upgrade frankenphp v2, force binary path, tune healthcheck
  apps/backend/Dockerfile.prod
  apps/backend/start-container.sh
  docker-compose.prod.yml
Due: none

fix(prod): final tuning - pin frankenphp 1.10, disable auto_https, clean startup
  apps/backend/Dockerfile.prod
  apps/backend/start-container.sh
  docker-compose.prod.yml
Due: none

chore(main): release cerdas 0.1.22
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(prod): tune healthchecks per coolify specs (exclude worker/scheduler)
  docker-compose.prod.yml
Due: none

chore(main): release cerdas 0.1.23
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(prod): disable healthcheck for worker/scheduler properly
  docker-compose.prod.yml
Due: none

chore(main): release cerdas 0.1.24
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(prod): force 127.0.0.1 for frontend healthchecks to bypass DNS-IPv6 issue
  docker-compose.prod.yml
Due: none

chore(main): release cerdas 0.1.25
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(prod): switch backend to port 80 to match coolify default
  apps/backend/Dockerfile.prod
  docker-compose.prod.yml
Due: none

chore(main): release cerdas 0.1.26
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(prod): set OCTANE_SERVER_NAME=:80 to accept all host headers
  docker-compose.prod.yml
Due: none

chore(main): release cerdas 0.1.27
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(prod): add traefik label to force port 80 to prevent 2019 misrouting
  docker-compose.prod.yml
Due: none

fix(prod): sync EVERYTHING to port 8080 (app, traefik, healthcheck) to resolve 502
  apps/backend/Dockerfile.prod
  apps/backend/start-container.sh
  docker-compose.prod.yml
Due: none

chore(main): release cerdas 0.1.28
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(prod): harden config (reverb port, env vars, health conditions, traefik labels)
  docker-compose.prod.yml
Due: none

fix(prod): remove unsupported --frankenphp-binary flag from octane command
  apps/backend/start-container.sh
Due: none

fix(auth): add debug logging to Google Login to diagnose failure
  apps/backend/app/Http/Controllers/Api/GoogleAuthController.php
Due: php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.29
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): enhance google login error logging and alert
  apps/client/src/app/auth/views/Login.vue
  apps/client/src/common/stores/authStore.ts
Due: eslint --fix

chore(main): release cerdas 0.1.30
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

docs: add google auth sha-1 guide for debug vs production
  docs/WORKFLOW_AND_DEBUGGING.md
Due: none

docs: explain how to get production sha-1 from github actions
  docs/WORKFLOW_AND_DEBUGGING.md
Due: none

feat(editor): implement schema reference, copy fallback, and validation for logic editors
  apps/backend/.env.example
  apps/backend/app/Http/Controllers/Api/AppController.php
  apps/backend/check_apps.php
  apps/client/src/app/dashboard/services/AppMetadataService.ts
  apps/client/src/components/views/MapView.vue
  apps/client/src/main.ts
  apps/client/src/pages/AppShell.vue
  apps/editor/src/app/app-editor/AppEditorPage.vue
  apps/editor/src/app/app-editor/components/data/ExcelImportModal.vue
  apps/editor/src/app/app-editor/components/field-config/FieldConfigPanel.vue
  apps/editor/src/app/app-editor/components/settings/AppSettingsPanel.vue
  apps/editor/src/app/app-editor/components/views/ViewsPanel.vue
  apps/editor/src/app/app-editor/components/views/config/view-types/MapViewConfig.vue
  apps/editor/src/app/app-editor/composables/core/useEditorState.ts
  apps/editor/src/app/app-editor/composables/core/useFieldNavigation.ts
  apps/editor/src/app/app-editor/composables/useNavigationManagement.ts
  apps/editor/src/app/app-editor/composables/useTableEditor.ts
  apps/editor/src/app/app-editor/composables/useViewConfigSync.ts
  apps/editor/src/app/app-editor/composables/useViewManagement.ts
  apps/editor/src/app/app-editor/types/editor.types.ts
  apps/editor/src/stores/app.store.ts
  docs/WORKFLOW_AND_DEBUGGING.md
  gemini.md
  scripts/backend/php-cgi.bat
  scripts/backend/start.bat
  scripts/start-all.bat
  stop-all.bat
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.31
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(editor): add missing marker_style_fn to ViewDefinition type
  apps/editor/src/app/app-editor/types/editor.types.ts
Due: eslint --fix

fix(client): enable grouping transition animation across levels
  apps/client/src/pages/AppShell.vue
Due: eslint --fix

refactor(editor): extract handlers and tab content from AppEditorPage.vue
  apps/editor/src/app/app-editor/AppEditorPage.vue
  apps/editor/src/app/app-editor/components/field-list/FieldList.vue
  apps/editor/src/app/app-editor/components/layout/EditorTabContent.vue
  apps/editor/src/app/app-editor/components/views/config/view-types/MapViewConfig.vue
  apps/editor/src/app/app-editor/components/views/utils/validations.ts
  apps/editor/src/app/app-editor/composables/core/useEditorState.ts
  apps/editor/src/app/app-editor/composables/useEditorHandlers.ts
  apps/editor/src/app/app-editor/composables/useEditorLifecycle.ts
  apps/editor/src/app/app-editor/composables/useEditorPanels.ts
  apps/editor/src/app/app-editor/composables/useTableSelection.ts
  apps/editor/src/app/app-editor/types/editor.types.ts
  apps/editor/src/app/app-editor/utils/jsonValidator.ts
  apps/editor/src/app/app-editor/utils/validators/appValidator.ts
  apps/editor/src/app/app-editor/utils/validators/constants.ts
  apps/editor/src/app/app-editor/utils/validators/fieldValidator.ts
  apps/editor/src/app/app-editor/utils/validators/navigationValidator.ts
  apps/editor/src/app/app-editor/utils/validators/tableValidator.ts
  apps/editor/src/app/app-editor/utils/validators/types.ts
  apps/editor/src/app/app-editor/utils/validators/viewValidator.ts
  dump-structure.bat
  scripts/audit/detect-large-files.bat
  scripts/audit/detect-large-files.ps1
  scripts/audit/dump-structure.ps1
Due: eslint --fix

refactor(editor): extract FieldConfigPanel sections and composables
  apps/editor/src/app/app-editor/components/field-config/FieldConfigPanel.vue
  apps/editor/src/app/app-editor/components/field-config/composables/useFieldConfig.ts
  apps/editor/src/app/app-editor/components/field-config/composables/useLogicHelpers.ts
  apps/editor/src/app/app-editor/components/field-config/sections/FieldBasicSection.vue
  apps/editor/src/app/app-editor/components/field-config/sections/FieldDisplaySection.vue
  apps/editor/src/app/app-editor/components/field-config/sections/FieldLogicSection.vue
  apps/editor/src/app/app-editor/components/field-config/sections/FieldOptionsSection.vue
  apps/editor/src/app/app-editor/components/field-config/sections/FieldValidationSection.vue
Due: eslint --fix

fix(dashboard): resolve assignment filter/sort status counts, z-index, and search bugs
  apps/client/src/app/dashboard/components/AppShellStatusFilter.vue
  apps/client/src/app/dashboard/components/AssignmentFilterSheet.vue
  apps/client/src/app/dashboard/components/AssignmentSortSheet.vue
  apps/client/src/app/dashboard/composables/app-shell/useAssignmentFilters.ts
  apps/client/src/app/dashboard/composables/app-shell/useAssignmentQueries.ts
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/client/src/app/dashboard/services/AssignmentQueryService.ts
  apps/client/src/app/dashboard/types/index.ts
  apps/client/src/pages/AppShell.vue
Due: eslint --fix

chore(main): release cerdas 0.1.32
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

chore: add standard open source documentation and harden gitignore
  .gitignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
  apps/backend/migration_log.txt
Due: none

chore: add github issue and pr templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none
