Repository ihkaru/cerdas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, php apps/backend/vendor/bin/pint

.lintstagedrc.json:

{
  "*.{js,ts,vue,json}": [
    "eslint --fix"
  ],
  "apps/backend/**/*.php": [
    "php apps/backend/vendor/bin/pint"
  ]
}

fix: disable API caching in client by adding cache-control headers and timestamp query param
  apps/client/public/version.json
  apps/client/src/common/api/ApiClient.ts
Due: eslint --fix

chore(main): release cerdas 0.2.11
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

chore: bump version to v0.2.11 & add anti-cache sync fix
  apps/client/android/app/build.gradle
  apps/client/package-lock.json
  apps/client/package.json
  apps/editor/package.json
  gemini.md
  package.json
Due: eslint --fix

feat(sync): fix assignment draft status bug, update sambora schema & relax check-line-limit v0.2.12
  apps/backend/app/Http/Controllers/Api/ResponseController.php
  apps/client/android/app/build.gradle
  apps/client/package-lock.json
  apps/client/package.json
  apps/client/public/version.json
  apps/client/src/common/services/SyncService.ts
  apps/client/src/common/services/sync/AssignmentSyncHelpers.ts
  apps/client/src/common/services/sync/TableSyncHelpers.ts
  apps/client/src/components/views/DeckView.vue
  apps/client/src/pages/AppShell.vue
  apps/client/src/pages/assignment-detail/composables/useAssignmentSave.ts
  apps/editor/package.json
  apps/editor/src/app/app-editor/AppEditorPage.vue
  apps/editor/src/app/app-editor/components/code/CodeEditorTab.vue
  apps/editor/src/app/app-editor/components/preview/LivePreview.vue
  apps/editor/src/common/api/ApiClient.ts
  docs/kuesioner_sambora_app_schema.json
  docs/spesifikasi_kuesioner_sambora.md
  gemini.md
  package.json
  scripts/check-line-limit.mjs
Due: eslint --fix, php apps/backend/vendor/bin/pint

fix(editor): fix apply schema crash, support nested fields in layout config & update views format
  apps/editor/src/app/app-editor/components/shared/FieldPicker.vue
  apps/editor/src/app/app-editor/composables/useEditorHandlers.ts
  docs/kuesioner_sambora_app_schema.json
Due: eslint --fix

chore(release): bump version to 0.2.13 & update views layout imageField
  apps/client/android/app/build.gradle
  apps/client/package-lock.json
  apps/client/package.json
  apps/client/public/version.json
  apps/editor/package.json
  docs/kuesioner_sambora_app_schema.json
  gemini.md
  package.json
Due: eslint --fix

fix(editor): update AI Context prompt guidelines for nested fields and validations
  apps/editor/src/app/app-editor/components/code/CodeEditorTab.vue
Due: eslint --fix

chore(main): release cerdas 0.2.12
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

chore(release): bump version to 0.2.15 & add guidelines HTML block with strict GPS validation
  apps/client/android/app/build.gradle
  apps/client/package-lock.json
  apps/client/package.json
  apps/client/public/version.json
  apps/editor/package.json
  docs/kuesioner_sambora_app_schema.json
  gemini.md
  package.json
Due: eslint --fix

chore(release): sync release-please manifest version to 0.2.15
  .release-please-manifest.json
Due: eslint --fix

chore(release): bump version to 0.2.16 & fix Android table metadata sync omission
  .release-please-manifest.json
  apps/client/android/app/build.gradle
  apps/client/package-lock.json
  apps/client/package.json
  apps/client/public/version.json
  apps/client/src/common/services/sync/TableSyncHelpers.ts
  apps/editor/package.json
  gemini.md
  package.json
Due: eslint --fix

chore(release): bump version to 0.2.17 & remove nomor_kk column from schema
  .release-please-manifest.json
  apps/client/android/app/build.gradle
  apps/client/package-lock.json
  apps/client/package.json
  apps/client/public/version.json
  apps/editor/package.json
  docs/kuesioner_sambora_app_schema.json
  gemini.md
  package.json
Due: eslint --fix

chore(release): bump version to 0.2.18 & fix Android mobile FAB position overlap
  .release-please-manifest.json
  apps/client/android/app/build.gradle
  apps/client/package-lock.json
  apps/client/package.json
  apps/client/public/version.json
  apps/client/src/pages/AppShell.vue
  apps/editor/package.json
  gemini.md
  package.json
Due: eslint --fix

fix(editor): use crypto.randomUUID() to fix sonarjs/pseudo-random error
  .release-please-manifest.json
  apps/client/android/app/build.gradle
  apps/client/package-lock.json
  apps/client/package.json
  apps/editor/package.json
  apps/editor/src/app/app-editor/services/excelImportService.ts
  gemini.md
  package.json
Due: eslint --fix

fix(backend): include fields/layout/settings in dashboard tables payload for client SQLite sync
  apps/backend/app/Http/Controllers/Api/DashboardController.php
Due: php apps/backend/vendor/bin/pint

chore(release): bump to 0.2.20 - FAB root cause fix via DashboardController
  .release-please-manifest.json
  apps/client/android/app/build.gradle
  apps/client/package-lock.json
  apps/client/package.json
  apps/editor/package.json
  gemini.md
  package.json
Due: eslint --fix

fix(client): fix FAB disappearing after sync - empty object truthy bug in cacheAndSaveTable
  .release-please-manifest.json
  apps/client/android/app/build.gradle
  apps/client/package-lock.json
  apps/client/package.json
  apps/client/public/version.json
  apps/client/src/common/services/sync/TableSyncHelpers.ts
  apps/editor/package.json
  gemini.md
  package.json
Due: eslint --fix

fix(client): prioritize VITE_API_URL and implement robust SQLite settings merge
  .release-please-manifest.json
  apps/client/android/app/build.gradle
  apps/client/package-lock.json
  apps/client/package.json
  apps/client/public/version.json
  apps/client/src/common/api/ApiClient.ts
  apps/client/src/common/services/sync/TableSyncHelpers.ts
  apps/editor/package.json
  apps/editor/src/common/api/ApiClient.ts
  gemini.md
  package.json
Due: eslint --fix

feat: implement dynamic origin API fallback and zero hardcoded ports for Coolify deployment (v0.2.24)
  .release-please-manifest.json
  apps/backend/composer.json
  apps/client/android/app/build.gradle
  apps/client/package-lock.json
  apps/client/package.json
  apps/client/public/version.json
  apps/client/src/common/api/ApiClient.ts
  apps/client/src/common/services/HealthCheckService.ts
  apps/client/vite.config.ts
  apps/editor/package.json
  apps/editor/src/app/app-editor/components/monitoring/SubmissionsPanel.vue
  apps/editor/src/app/app-editor/components/preview/LivePreview.vue
  apps/editor/src/common/api/ApiClient.ts
  apps/editor/vite.config.ts
  gemini.md
  package.json
Due: eslint --fix

chore(main): release cerdas 0.2.25
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

chore(main): release cerdas 0.2.25 (#80)
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat: seamless join UX, post-login token handoff, and editor joined members UI
  apps/backend/app/Http/Controllers/Api/AssignmentController.php
  apps/backend/app/Http/Controllers/Api/ResponseController.php
  apps/backend/composer.json
  apps/backend/routes/api.php
  apps/client/package.json
  apps/client/public/version.json
  apps/client/src/app/auth/views/JoinPage.vue
  apps/client/src/app/auth/views/Login.vue
  apps/client/src/app/dashboard/composables/useAppShellActions.ts
  apps/client/src/app/dashboard/repositories/DashboardRepository.ts
  apps/client/src/common/api/ApiClient.ts
  apps/editor/package.json
  apps/editor/src/app/app-editor/components/monitoring/SubmissionsPanel.vue
  apps/editor/src/app/app-editor/components/settings/AppSettingsPanel.vue
  gemini.md
  package.json
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.2.26
  .release-please-manifest.json
  CHANGELOG.md
Due: eslint --fix

fix: null-safe assignment destroy and try-catch error protection
  apps/backend/app/Http/Controllers/Api/AssignmentController.php
  apps/backend/composer.json
  apps/client/package.json
  apps/editor/package.json
  gemini.md
  package.json
Due: eslint --fix, php apps/backend/vendor/bin/pint

feat: allow manual invitation join via code/link on dashboard and settings
  apps/client/public/version.json
  apps/client/src/app/dashboard/components/AppGallery.vue
  apps/client/src/app/dashboard/components/DashboardSettingsSheet.vue
  apps/client/src/app/dashboard/views/DashboardPage.vue
  gemini.md
Due: eslint --fix

chore(main): release cerdas 0.2.27
  .release-please-manifest.json
  CHANGELOG.md
Due: eslint --fix

feat: add APK download card to dashboard and auto-GitHub sync
  .release-please-manifest.json
  apps/backend/app/Console/Commands/SyncApkVersion.php
  apps/backend/app/Http/Controllers/Api/ApkController.php
  apps/backend/app/Http/Controllers/Api/DashboardController.php
  apps/backend/app/Models/SystemSetting.php
  apps/backend/composer.json
  apps/backend/database/migrations/2026_07_18_100000_create_system_settings_table.php
  apps/backend/routes/api.php
  apps/backend/start-container.sh
  apps/client/package.json
  apps/client/public/version.json
  apps/client/src/app/dashboard/components/ApkDownloadCard.vue
  apps/client/src/app/dashboard/stores/dashboardStore.ts
  apps/client/src/app/dashboard/views/DashboardPage.vue
  apps/client/src/common/services/sync/TableSyncHelpers.ts
  apps/editor/package.json
  gemini.md
  package.json
Due: eslint --fix, php apps/backend/vendor/bin/pint

feat: add support for multiselect checkbox field and ignore schema file
  .gitignore
  apps/client/public/version.json
  docs/kuesioner_sambora_app_schema.json
  packages/form-engine/src/components/FieldRenderer.vue
  packages/form-engine/src/components/fields/CheckboxField.vue
Due: eslint --fix

fix: make nullable layout properties access in AppSchemaController safe to prevent 500 error
  apps/backend/app/Http/Controllers/Api/AppSchemaController.php
Due: php apps/backend/vendor/bin/pint

fix: return a validation error instead of 500 when app slug is already taken
  apps/backend/app/Http/Controllers/Api/AppSchemaController.php
  apps/backend/test_update.php
Due: php apps/backend/vendor/bin/pint

feat: enforce app slug immutability during schema updates via code tab
  apps/backend/app/Http/Controllers/Api/AppSchemaController.php
Due: php apps/backend/vendor/bin/pint

feat: v0.2.29 data scrubbing, required_if, UX hints, sampah improvements
  apps/client/src/pages/assignment-detail/composables/useAssignmentSave.ts
  apps/client/src/pages/assignment-detail/composables/useValidationSummary.ts
  packages/form-engine/src/components/FormRenderer.vue
Due: eslint --fix

docs: relocate kuesioner sambora schema to examples/ directory
  .gitignore
  examples/kuesioner-sambora/README.md
  examples/kuesioner-sambora/schema.json
Due: eslint --fix

docs: add map view and bottom navigation tab to kuesioner sambora example schema
  examples/kuesioner-sambora/README.md
  examples/kuesioner-sambora/schema.json
Due: eslint --fix

fix: propagate views and navigation during app schema apply in editor
  apps/backend/app/Http/Controllers/Api/AppSchemaController.php
  apps/editor/src/app/app-editor/components/code/CodeEditorTab.vue
  gemini.md
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore: bump package versions to 0.2.29 and fix APK filename in build-android workflow
  .github/workflows/build-android.yml
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

chore(main): release cerdas 0.2.29
  .release-please-manifest.json
  CHANGELOG.md
Due: eslint --fix

feat: sync editor code apply navigation and fix sqlite soft-delete tombstones
  apps/client/package.json
  apps/client/src/common/services/sync/AssignmentSyncHelpers.ts
  apps/editor/package.json
  apps/editor/src/app/app-editor/components/code/CodeEditorTab.vue
  apps/editor/src/app/app-editor/composables/useEditorHandlers.ts
  gemini.md
  package.json
Due: eslint --fix

chore(main): release cerdas 0.2.29
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): bypass Framework7 router for external APK download links
  apps/client/src/app/dashboard/components/ApkDownloadCard.vue
Due: eslint --fix
