Repository ihkaru/cerdas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, php apps/backend/vendor/bin/pint

.lintstagedrc.json:

{
  "*.{js,ts,vue,json}": [
    "eslint --fix"
  ],
  "apps/backend/**/*.php": [
    "php apps/backend/vendor/bin/pint"
  ]
}

fix(editor): resolve empty layout configuration for map and deck views
  apps/backend/app/Http/Controllers/Api/AppSchemaController.php
  apps/editor/src/app/app-editor/components/views/config/ViewConfigPanel.vue
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release 0.2.50
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

docs: update workspace memory to version 0.2.50
  .agent/AGENTS.md
  .agents/AGENTS.md
  GEMINI.md
Due: none

fix(deploy): ensure GOOGLE_CLIENT_SECRET and GOOGLE_REDIRECT_URI are passed to backend container
  docker-compose.prod.yml
Due: none

fix(gsheet): prevent duplicate assignments and enable in-place sheet updates
  apps/backend/app/Actions/GoogleSheet/CreateTableFromSheetAction.php
  apps/backend/app/Actions/GoogleSheet/ImportGoogleSheetRowsAction.php
  apps/backend/app/Jobs/GoogleSheetEnqueueRowJob.php
  apps/backend/app/Services/GoogleSheetColumnMapper.php
  apps/backend/app/Services/GoogleSheetsService.php
  docker-compose.dev.yml
Due: php apps/backend/vendor/bin/pint

feat(sync): enable instant on-demand Google Sheet inbound sync on client pull
  apps/backend/app/Http/Controllers/Api/AssignmentController.php
Due: php apps/backend/vendor/bin/pint

feat(form): add long_text, auto-wrap read-only fields & multi-tab sync
  apps/backend/app/Actions/GoogleSheet/BatchCreateTablesFromSheetAction.php
  apps/backend/app/Actions/GoogleSheet/CreateAppFromSheetAction.php
  apps/backend/app/Actions/GoogleSheet/ReconcileGoogleSheetHeadersAction.php
  apps/backend/app/Http/Controllers/Api/GoogleSheetSyncController.php
  apps/backend/app/Http/Controllers/Api/TableController.php
  apps/backend/app/Jobs/GoogleSheetReconcileHeadersJob.php
  apps/backend/routes/api.php
  apps/editor/src/app/app-editor/AppEditorPage.vue
  apps/editor/src/app/app-editor/components/data/TableSheetSyncPanel.vue
  apps/editor/src/app/app-editor/components/field-config/composables/useLogicHelpers.ts
  apps/editor/src/app/app-editor/components/field-config/sections/FieldValidationSection.vue
  apps/editor/src/app/app-editor/components/field-list/FieldList.vue
  apps/editor/src/app/app-editor/components/layout/EditorHeader.vue
  apps/editor/src/app/app-editor/components/layout/EditorTabContent.vue
  apps/editor/src/app/app-editor/composables/core/useEditorState.ts
  apps/editor/src/app/app-editor/composables/useGoogleSheetSync.ts
  apps/editor/src/app/app-editor/types/editor.types.ts
  apps/editor/src/app/app-editor/utils/validators/constants.ts
  apps/editor/src/common/api/GoogleSheetApi.ts
  apps/editor/src/pages/components/CreateAppFromSheetModal.vue
  apps/editor/src/pages/components/create-app-sheet/CreateAppFromSheetModal.css
  apps/editor/src/pages/components/create-app-sheet/Step2SheetPicker.vue
  apps/editor/src/pages/components/create-app-sheet/Step3SchemaMapping.vue
  apps/editor/src/pages/components/create-app-sheet/useSheetMultiTabWizard.ts
  apps/editor/src/stores/app.store.ts
  apps/editor/src/stores/table.store.ts
  packages/form-engine/src/components/FieldRenderer.vue
  packages/form-engine/src/components/fields/CheckboxField.vue
  packages/form-engine/src/components/fields/DateField.vue
  packages/form-engine/src/components/fields/LongTextField.vue
  packages/form-engine/src/components/fields/NumberField.vue
  packages/form-engine/src/components/fields/RadioField.vue
  packages/form-engine/src/components/fields/SelectField.vue
  packages/form-engine/src/components/fields/TextField.vue
  packages/form-engine/src/components/fields/UrlField.vue
  packages/types/src/google-sheet.ts
  packages/types/src/schema.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release 0.2.51
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

docs: update workspace memory to version 0.2.51
  .agent/AGENTS.md
  .agents/AGENTS.md
  GEMINI.md
  gemini.md
Due: none

fix(deploy): optimize Dockerfile.prod base images and eliminate external composer image
  apps/backend/Dockerfile.prod
  apps/client/Dockerfile.prod
  apps/editor/Dockerfile.prod
Due: none

fix(deploy): use AWS ECR public mirror and image tags to prevent Docker Hub TLS timeout
  apps/backend/Dockerfile.prod
  apps/client/Dockerfile.prod
  apps/editor/Dockerfile.prod
  docker-compose.prod.yml
Due: none

fix(sync): resolve direct-column header shift and preview tab desync
  apps/backend/app/Actions/GoogleSheet/ReconcileGoogleSheetHeadersAction.php
  apps/backend/app/Http/Controllers/Api/GoogleSheetSyncController.php
  apps/backend/app/Jobs/GoogleSheetInitialExportJob.php
  apps/backend/app/Services/GoogleSheetColumnMapper.php
  apps/backend/app/Services/GoogleSheetsService.php
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/client/src/app/dashboard/services/AppMetadataService.ts
  apps/client/src/common/services/EditorBridgeService.ts
  apps/client/src/pages/AppShell.vue
  apps/editor/src/app/app-editor/components/preview/LivePreview.vue
Due: eslint --fix, php apps/backend/vendor/bin/pint

feat(form-engine): add instant timestamp capture mode and quick now action for date/time fields
  apps/editor/src/app/app-editor/components/field-config/sections/FieldValidationSection.vue
  packages/form-engine/src/components/fields/DateField.vue
  packages/form-engine/src/components/fields/InstantTimestampControl.vue
  packages/types/src/schema.ts
Due: eslint --fix

fix(editor): ensure live preview reactivity updates immediately on field config changes
  apps/client/src/pages/assignment-detail/AssignmentDetail.vue
  apps/client/src/pages/assignment-detail/composables/useLivePreview.ts
  apps/editor/src/app/app-editor/components/preview/LivePreview.vue
  apps/editor/src/app/app-editor/composables/core/useFieldOperations.ts
Due: eslint --fix

feat(client): implement safety guards for form completion, empty submissions, and accidental sync
  apps/client/src/app/dashboard/components/AppShellSyncBanner.vue
  apps/client/src/pages/AppShell.vue
  apps/client/src/pages/assignment-detail/AssignmentDetail.vue
  apps/client/src/pages/assignment-detail/composables/useAssignmentLoader.ts
  apps/client/src/pages/assignment-detail/composables/useAssignmentSave.ts
Due: eslint --fix

feat(sync): prevent unsubmitted drafts from polluting Google Sheet in direct columns mode
  apps/backend/app/Jobs/GoogleSheetEnqueueRowJob.php
Due: php apps/backend/vendor/bin/pint

chore(main): release 0.2.52
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): resolve type error on hasExistingDraft in useAssignmentLoader
  apps/client/src/pages/assignment-detail/composables/useAssignmentLoader.ts
Due: eslint --fix

chore(main): release 0.2.53
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

docs: update workspace memory and version to 0.2.53
  .agent/AGENTS.md
  .agents/AGENTS.md
  GEMINI.md
  gemini.md
Due: none

feat(sync): anchor sheet sync to natural primary key and prevent duplicate ghost assignments
  apps/backend/app/Actions/GoogleSheet/ImportGoogleSheetRowsAction.php
  apps/client/src/components/views/DeckView.vue
  apps/editor/src/app/app-editor/components/data/TableSheetSyncPanel.vue
  apps/editor/src/pages/components/create-app-sheet/Step3SchemaMapping.vue
  apps/editor/src/pages/components/create-app-sheet/useSheetMultiTabWizard.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release 0.2.54
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(editor): resolve runtime error and missing patch method in Google Sheet sync panel
  apps/editor/src/app/app-editor/components/data/TableSheetSyncPanel.vue
  apps/editor/src/app/app-editor/components/layout/EditorTabContent.vue
  apps/editor/src/common/api/ApiClient.ts
Due: eslint --fix

refactor(editor): replace inline template dialog with programmatic f7 confirm in sync panel
  apps/editor/src/app/app-editor/components/data/TableSheetSyncPanel.vue
Due: eslint --fix

fix(backend): append rows after table instead of inserting at row A1
  apps/backend/app/Services/GoogleSheetsService.php
Due: php apps/backend/vendor/bin/pint

feat(backend): implement agentic super admin REST API for production monitoring and remediation
  .env.docker.example
  apps/backend/.env.example
  apps/backend/app/Http/Controllers/Api/Agent/AgentAppController.php
  apps/backend/app/Http/Controllers/Api/Agent/AgentDataController.php
  apps/backend/app/Http/Controllers/Api/Agent/AgentSchemaController.php
  apps/backend/app/Http/Controllers/Api/Agent/AgentSyncController.php
  apps/backend/app/Http/Controllers/Api/Agent/AgentSystemController.php
  apps/backend/app/Http/Middleware/AuthenticateSuperAdminApiKey.php
  apps/backend/bootstrap/app.php
  apps/backend/config/agent.php
  apps/backend/routes/api.php
  docker-compose.dev.yml
Due: php apps/backend/vendor/bin/pint

feat(sync): scale google sheet inbound sync for large datasets
  .agent/AGENTS.md
  .agents/AGENTS.md
  GEMINI.md
  apps/backend/app/Actions/GoogleSheet/BatchCreateTablesFromSheetAction.php
  apps/backend/app/Actions/GoogleSheet/CreateTableFromSheetAction.php
  apps/backend/app/Actions/GoogleSheet/ImportGoogleSheetRowsAction.php
  apps/backend/app/Http/Controllers/Api/AssignmentController.php
  apps/backend/app/Http/Controllers/Api/GoogleSheetSyncController.php
  apps/backend/app/Jobs/SyncSingleTableSheetJob.php
  apps/editor/src/app/app-editor/components/data/DataPreviewPanel.vue
  apps/editor/src/app/app-editor/components/data/TableSheetSyncPanel.vue
  apps/editor/src/app/app-editor/composables/useGoogleSheetSync.ts
  apps/editor/src/common/api/GoogleSheetApi.ts
  docker-compose.dev.yml
  docker-compose.prod.yml
  gemini.md
  packages/types/src/google-sheet.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

feat(sync): support 100k+ rows extreme-scale 2-way google sheet sync
  .agent/AGENTS.md
  .agents/AGENTS.md
  GEMINI.md
  apps/backend/app/Actions/GoogleSheet/ImportGoogleSheetRowsAction.php
  apps/backend/app/Http/Controllers/Api/GoogleSheetSyncController.php
  apps/backend/app/Jobs/SyncSingleTableSheetJob.php
  apps/backend/app/Services/GoogleSheetsService.php
  apps/editor/src/app/app-editor/components/data/TableSheetSyncPanel.vue
  apps/editor/src/app/app-editor/composables/useGoogleSheetSync.ts
  docker-compose.dev.yml
  docker-compose.prod.yml
  gemini.md
  packages/types/src/google-sheet.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

fix(deploy): prevent build OOM on coolify and deduplicate backend builds
  apps/client/Dockerfile.prod
  apps/client/public/version.json
  docker-compose.prod.yml
Due: eslint --fix

fix(form-engine): support cross-platform deep linking for google maps directions
  apps/client/src/components/views/map/composables/useMapPopup.ts
  packages/form-engine/src/components/fields/GpsField.vue
  packages/form-engine/src/components/fields/TextField.vue
  packages/form-engine/src/utils/geoUtils.test.ts
  packages/form-engine/src/utils/geoUtils.ts
Due: eslint --fix

fix(form-engine): resolve external link routing and use geo intent on android
  packages/form-engine/src/components/fields/GpsField.vue
  packages/form-engine/src/components/fields/TextField.vue
  packages/form-engine/src/utils/geoUtils.test.ts
  packages/form-engine/src/utils/geoUtils.ts
Due: eslint --fix

feat(editor): implement developer API key management, state rollback, and UX/UI refinement
  apps/backend/app/Http/Controllers/Api/ApiKeyController.php
  apps/backend/package.json
  apps/backend/routes/api.php
  apps/editor/src/app/api-keys/adapters/primary/useApiKeyManagement.ts
  apps/editor/src/app/api-keys/adapters/secondary/HttpApiKeyRepository.ts
  apps/editor/src/app/api-keys/adapters/secondary/InMemoryStateHistoryAdapter.ts
  apps/editor/src/app/api-keys/application/ApiKeyService.ts
  apps/editor/src/app/api-keys/components/ApiDocsModal.vue
  apps/editor/src/app/api-keys/components/ApiKeyCard.vue
  apps/editor/src/app/api-keys/components/ApiKeySecretModal.vue
  apps/editor/src/app/api-keys/components/ApiKeyStatsGrid.vue
  apps/editor/src/app/api-keys/components/CreateApiKeyModal.vue
  apps/editor/src/app/api-keys/components/EditApiKeyModal.vue
  apps/editor/src/app/api-keys/domain/models/ApiDocsSnippets.ts
  apps/editor/src/app/api-keys/domain/models/ApiKey.ts
  apps/editor/src/app/api-keys/domain/ports/IApiKeyRepository.ts
  apps/editor/src/app/api-keys/domain/ports/IApiKeyService.ts
  apps/editor/src/app/api-keys/domain/ports/IStateHistoryManager.ts
  apps/editor/src/components/AppLayout.vue
  apps/editor/src/pages/ApiKeysPage.vue
  apps/editor/src/pages/AppsPage.vue
  apps/editor/src/pages/HomePage.vue
  apps/editor/src/pages/OrganizationsPage.vue
  apps/editor/src/routes.ts
  apps/editor/tests/api-keys/api-key-service.spec.ts
  package.json
  pnpm-lock.yaml
  references/SCREEN_FLOW.md
Due: eslint --fix, php apps/backend/vendor/bin/pint

fix(form-engine): remove unused getGoogleMapsUrl imports breaking CI build and lint
  apps/client/src/components/views/map/composables/useMapPopup.ts
  packages/form-engine/src/components/fields/GpsField.vue
  packages/form-engine/src/components/fields/TextField.vue
Due: eslint --fix

feat(editor): improve UX, add command palette and profile modal
  apps/editor/src/app/app-editor/AppEditorPage.vue
  apps/editor/src/app/app-editor/components/layout/EditorHeader.vue
  apps/editor/src/app/app-editor/components/layout/EditorTabContent.vue
  apps/editor/src/components/AppLayout.vue
  apps/editor/src/components/profile/UserProfileModal.vue
  apps/editor/src/components/search/CommandPaletteModal.vue
  apps/editor/src/components/search/search.types.ts
  apps/editor/src/components/search/useGlobalSearch.ts
  apps/editor/src/pages/HomePage.vue
Due: eslint --fix

chore(main): release 0.2.55
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat(editor): apply Impeccable standards, overhaul post-login pages, and SRP refactor
  DESIGN.md
  PRODUCT.md
  apps/editor/src/app/app-editor/components/actions/ActionsPanel.vue
  apps/editor/src/app/app-editor/components/layout/EditorHeader.vue
  apps/editor/src/app/pages/app-detail/components/AppHeader.vue
  apps/editor/src/app/pages/app-detail/components/MemberCard.vue
  apps/editor/src/app/pages/app-detail/components/MembersSection.vue
  apps/editor/src/app/pages/app-detail/components/OrganizationsSection.vue
  apps/editor/src/components/profile/UserProfileModal.vue
  apps/editor/src/pages/AppsPage.css
  apps/editor/src/pages/AppsPage.vue
  apps/editor/src/pages/OrganizationsPage.css
  apps/editor/src/pages/OrganizationsPage.vue
  apps/editor/src/pages/components/OrganizationDetailDialog.vue
  apps/editor/src/pages/components/apps/AppCard.vue
  apps/editor/src/pages/components/apps/AppsPageHeader.vue
  apps/editor/src/pages/components/apps/CreateAppPopup.vue
  apps/editor/src/pages/components/apps/apps.types.ts
  apps/editor/src/pages/components/organizations/OrgCard.vue
  apps/editor/src/pages/components/organizations/organizations.types.ts
Due: eslint --fix
