Repository ihkaru/cerdas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.50
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

clean: remove temporary debug scripts and cleanup workspace
  apps/backend/debug_fields.php
Due: php apps/backend/vendor/bin/pint

fix(ci): resolve module resolution issues and discord notification character limits
  packages/form-engine/src/components/FieldRenderer.vue
  packages/types/package.json
Due: eslint --fix

fix(editor): satisfy SSOT by adding metadata for new field types
  apps/editor/src/app/app-editor/types/editor.types.ts
Due: eslint --fix

fix(form-engine): resolve vue module resolution and type declaration errors
  packages/form-engine/package.json
  pnpm-lock.yaml
Due: eslint --fix

fix(workflow): harden discord notification and clean up build artifacts
  .github/workflows/build-android.yml
Due: none

chore(main): release cerdas 0.1.51
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat: stabilize editor and preview sync
  apps/client/src/app/dashboard/composables/useAppShellSync.ts
  apps/client/src/common/services/EditorBridgeService.ts
  apps/client/src/main.ts
  apps/editor/src/app/app-editor/AppEditorPage.vue
  apps/editor/src/app/app-editor/composables/useEditorHandlers.ts
  apps/editor/src/app/app-editor/composables/useEditorLifecycle.ts
  apps/editor/src/app/app-editor/composables/useTableSelection.ts
  docker-compose.dev.yml
  dump-app.sh
  dump-schema.sh
  packages/types/src/schema.ts
  start-dev-docker.sh
  test.sh
Due: eslint --fix

feat: implement shareable join links and modernize google auth (April 2026 standards)
  apps/backend/app/Http/Controllers/Api/AppController.php
  apps/backend/app/Http/Controllers/Api/AuthController.php
  apps/backend/app/Http/Controllers/Api/GoogleAuthController.php
  apps/backend/app/Models/App.php
  apps/backend/app/Models/AppJoinLink.php
  apps/backend/app/Models/User.php
  apps/backend/database/migrations/2026_02_18_000001_create_app_join_links_table.php
  apps/backend/routes/api.php
  apps/client/index.html
  apps/client/src/App.vue
  apps/client/src/app/auth/views/JoinPage.vue
  apps/client/src/app/auth/views/Login.vue
  apps/client/src/common/stores/authStore.ts
  apps/client/src/main.ts
  apps/client/src/routes.ts
  apps/client/vite.config.ts
  apps/editor/.env.docker-web
  apps/editor/src/App.vue
  apps/editor/src/app/app-editor/components/settings/AppSettingsPanel.vue
  apps/editor/src/app/app-editor/composables/useAppJoinLink.ts
  apps/editor/src/common/echo.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.52
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix: resolve CI build failures (unused variables and incorrect computed assignments)
  apps/client/src/app/auth/views/JoinPage.vue
  apps/client/src/main.ts
  apps/editor/src/app/app-editor/composables/useAppJoinLink.ts
  apps/editor/src/app/app-editor/composables/useEditorHandlers.ts
Due: eslint --fix

fix: resolve CI build failures (complexity and ignored exceptions)
  apps/client/src/common/services/EditorBridgeService.ts
  apps/client/src/common/services/SyncService.ts
  apps/editor/src/app/app-editor/composables/useEditorLifecycle.ts
Due: eslint --fix

fix: remove unused ref import in useTableSelection.ts
  apps/editor/src/app/app-editor/composables/useTableSelection.ts
Due: eslint --fix

chore(main): release cerdas 0.1.53
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix: resolve final runtime and typescript errors in editor
  apps/editor/src/app/app-editor/composables/useAppJoinLink.ts
  apps/editor/src/common/echo.ts
Due: eslint --fix

fix: add production domains to CORS allowed origins
  apps/backend/config/cors.php
Due: php apps/backend/vendor/bin/pint

fix: resolve synchronization 404s, editor save 400s, and dynamic join link domain
  apps/backend/app/Http/Controllers/Api/TableController.php
  apps/client/src/app/dashboard/services/AppMetadataService.ts
  apps/editor/src/app/app-editor/components/settings/AppSettingsPanel.vue
  apps/editor/src/app/app-editor/composables/useEditorHandlers.ts
  dump_app_cetar-pbi.sql
  lint_output.txt
  schema-final.sql
Due: eslint --fix, php apps/backend/vendor/bin/pint

fix: implement safety merge for CORS and Sanctum production domains
  apps/backend/config/cors.php
  apps/backend/config/sanctum.php
Due: php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.54
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix: total stabilization of app join and dashboard
  apps/backend/app/Http/Controllers/Api/DashboardController.php
  apps/backend/app/Http/Controllers/Api/GoogleAuthController.php
  apps/client/src/app/dashboard/views/DashboardPage.vue
  apps/client/src/common/stores/authStore.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.55
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix: stabilize dashboard sync and join flow cleanup
  apps/backend/app/Http/Controllers/Api/DashboardController.php
  apps/backend/app/Http/Controllers/Api/GoogleAuthController.php
  apps/backend/app/Models/User.php
  apps/client/src/app/auth/views/JoinPage.vue
  apps/client/src/common/stores/authStore.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.1.56
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

chore(main): release cerdas 0.1.57
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat: stabilize editor publish flow and enhance live preview sync
  apps/editor/src/app/app-editor/AppEditorPage.vue
  apps/editor/src/app/app-editor/components/layout/EditorPreviewPanel.vue
  apps/editor/src/app/app-editor/components/preview/LivePreview.vue
  apps/editor/src/app/app-editor/composables/core/useEditorState.ts
  apps/editor/src/app/app-editor/composables/useEditorHandlers.ts
  apps/editor/src/app/app-editor/types/editor.types.ts
  apps/editor/src/stores/table.store.ts
Due: eslint --fix

feat(form-engine/editor): standardize hint, refactor DateField UI, add read-only toggle
  .agent/skills/f7-vue-scaffolder.md
  apps/client/src/common/services/EditorBridgeService.ts
  apps/client/src/components/views/map/composables/useMapGeoJson.ts
  apps/client/src/pages/AppShell.vue
  apps/editor/src/app/app-editor/AppEditorPage.vue
  apps/editor/src/app/app-editor/components/field-config/sections/FieldDisplaySection.vue
  apps/editor/src/app/app-editor/components/field-config/sections/FieldLogicSection.vue
  apps/editor/src/app/app-editor/components/field-config/sections/FieldValidationSection.vue
  apps/editor/src/app/app-editor/components/layout/EditorHeader.vue
  apps/editor/src/app/app-editor/components/layout/EditorPreviewPanel.vue
  apps/editor/src/app/app-editor/components/preview/LivePreview.vue
  apps/editor/src/app/app-editor/composables/core/useSchemaTransform.ts
  apps/editor/src/app/app-editor/composables/useEditorHandlers.ts
  apps/editor/src/app/app-editor/utils/validators/constants.ts
  apps/editor/src/app/app-editor/utils/validators/tableValidator.ts
  packages/form-engine/src/components/FieldRenderer.vue
  packages/form-engine/src/components/fields/DateField.vue
  packages/form-engine/src/components/fields/GpsField.vue
  packages/form-engine/src/components/fields/ImageField.vue
  packages/form-engine/src/components/fields/NestedFormField.vue
  packages/form-engine/src/components/fields/NumberField.vue
  packages/form-engine/src/components/fields/RadioField.vue
  packages/form-engine/src/components/fields/SelectField.vue
  packages/form-engine/src/components/fields/SignatureField.vue
  packages/form-engine/src/components/fields/TextField.vue
  packages/form-engine/src/types/schema.ts
Due: eslint --fix

feat: implement user isolation and data purging on account swap
  apps/client/src/common/database/DatabaseService.ts
  apps/client/src/common/database/schema.ts
  apps/client/src/common/stores/authStore.ts
Due: eslint --fix

chore(main): release cerdas 0.1.58
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(form-engine): remove invalid timePicker24h property from calendar config
  packages/form-engine/src/components/fields/DateField.vue
Due: eslint --fix

fix(form-engine): resolve build errors in DateField.vue (unused vars and type mismatch)
  packages/form-engine/src/components/fields/DateField.vue
Due: eslint --fix

chore(main): release cerdas 0.1.59
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

docs: rewrite README with accurate technical descriptions
  README.md
Due: none

fix(docker): add missing traefik.docker.network label to fix 504 on editor/client
  COOLIFY_GUIDE.md
  docker-compose.prod.yml
Due: none

fix(docker): expand .dockerignore to exclude 38MB APK and build artifacts, update COOLIFY_GUIDE
  .dockerignore
  COOLIFY_GUIDE.md
Due: none

chore(main): release cerdas 0.1.60
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): secure join flow against ghost login and double clicks
  apps/client/src/app/auth/views/JoinPage.vue
  apps/client/src/common/api/ApiClient.ts
  apps/client/src/common/stores/authStore.ts
  apps/client/src/routes.ts
Due: eslint --fix

chore(main): release cerdas 0.1.61
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): router syntax error
  apps/client/src/routes.ts
Due: eslint --fix

chore(main): release cerdas 0.1.62
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): correctly parse auth/me payload in verifySession
  apps/client/src/common/stores/authStore.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue,json}
  php apps/backend/vendor/bin/pint: any of: apps/backend/**/*.php
