Repository ihkaru/cerdas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, php apps/backend/vendor/bin/pint

.lintstagedrc.json:

{
  "*.{js,ts,vue,json}": [
    "eslint --fix"
  ],
  "apps/backend/**/*.php": [
    "php apps/backend/vendor/bin/pint"
  ]
}

fix(sync): upsert tables row to fix fresh android install showing no assignments
  apps/client/src/common/services/SyncService.ts
  apps/client/src/common/services/sync/AssignmentSyncHelpers.ts
  apps/client/src/common/services/sync/TableSyncHelpers.ts
Due: eslint --fix

chore(main): release cerdas 0.2.6
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

chore(main): release cerdas 0.2.6 (#74)
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

feat(client): add SQLite diagnostics console and improve sync logging
  apps/client/public/version.json
  apps/client/src/app/dashboard/composables/app-shell/useAssignmentQueries.ts
  apps/client/src/app/dashboard/views/DashboardPage.vue
  apps/client/src/common/components/DbExplorerSection.vue
  apps/client/src/common/components/DebugMenuSheet.vue
  apps/client/src/common/services/sync/AssignmentSyncHelpers.ts
Due: eslint --fix

chore(main): release cerdas 0.2.7
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

fix(client): wrap title in native span to ensure tap event registers correctly
  apps/client/src/app/dashboard/views/DashboardPage.vue
Due: eslint --fix

fix(client): improve click gesture and add version tap debug console fallback
  apps/client/public/version.json
  apps/client/src/app/dashboard/components/DashboardSettingsSheet.vue
  apps/client/src/app/dashboard/views/DashboardPage.vue
Due: eslint --fix

fix(client): sync all tables from app.tables relation to avoid missing view config tables
  apps/client/src/common/services/SyncService.ts
Due: eslint --fix

fix(client): remove legacy table fallbacks to implement fail-fast on invalid apps
  apps/client/src/common/services/SyncService.ts
  apps/client/src/common/services/sync/TableSyncHelpers.ts
Due: eslint --fix

fix(image): proxy image URLs in client and editor review drawer
  apps/client/src/common/api/ApiClient.ts
  apps/editor/src/app/app-editor/components/monitoring/ResponseReviewDrawer.vue
  apps/editor/src/common/api/ApiClient.ts
Due: eslint --fix

fix(client): pass resolvedTableId to useAppShellSync for preview mode data sync
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/client/src/app/dashboard/composables/useAppShellSync.ts
Due: eslint --fix

fix(sync): support dataOnly sync option for entire app in preview mode
  apps/client/src/app/dashboard/composables/useAppShellLogic.ts
  apps/client/src/app/dashboard/composables/useAppShellSync.ts
  apps/client/src/common/composables/useSync.ts
  apps/client/src/common/services/SyncService.ts
Due: eslint --fix

fix(backend): exclude inactive apps and their tables from surveyor dashboard sync
  apps/backend/app/Http/Controllers/Api/DashboardController.php
Due: php apps/backend/vendor/bin/pint

fix(sync): alert deactivations and enforce active app validation on response submissions
  apps/backend/app/Http/Controllers/Api/ResponseController.php
  apps/client/src/app/dashboard/views/DashboardPage.vue
  apps/client/src/common/services/sync/TableSyncHelpers.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(release): bump version to 0.2.8
  .release-please-manifest.json
  apps/client/package.json
  apps/client/public/version.json
  package.json
Due: eslint --fix

fix(backend): serialize empty tables and views as JSON objects
  apps/backend/app/Http/Controllers/Api/AppSchemaController.php
Due: php apps/backend/vendor/bin/pint

fix(backend): use view_configs JSON column as source of truth for schema views
  apps/backend/app/Http/Controllers/Api/AppSchemaController.php
Due: php apps/backend/vendor/bin/pint

fix(backend): fallback view table slug to first table if unresolved
  apps/backend/app/Http/Controllers/Api/AppSchemaController.php
Due: php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.2.9
  .release-please-manifest.json
  CHANGELOG.md
  apps/client/package.json
  apps/editor/package.json
  package.json
Due: eslint --fix

style: backend lint fixes and add impersonation preview route
  apps/backend/app/Http/Controllers/Api/AppController.php
  apps/backend/app/Http/Controllers/Api/AppSchemaController.php
  apps/backend/app/Http/Controllers/Api/DashboardController.php
  apps/backend/app/Http/Controllers/Api/GoogleAuthController.php
  apps/backend/app/Http/Controllers/Api/TableController.php
  apps/backend/app/Models/User.php
  apps/backend/routes/api.php
  apps/backend/routes/web.php
  gemini.md
Due: php apps/backend/vendor/bin/pint

style: backend lint styling fixes
  apps/backend/app/Http/Controllers/Api/AppController.php
  apps/backend/app/Http/Controllers/Api/AppSchemaController.php
  apps/backend/app/Http/Controllers/Api/DashboardController.php
  apps/backend/app/Http/Controllers/Api/GoogleAuthController.php
  apps/backend/app/Http/Controllers/Api/TableController.php
  apps/backend/app/Models/User.php
Due: php apps/backend/vendor/bin/pint

chore(scripts): fix backend port typo in start-dev-docker.ps1
  scripts/start-dev-docker.ps1
Due: none

chore(docker): change dev docker ports to 9980-9982 to resolve conflicts
  apps/client/.env.docker-web
  apps/editor/.env.docker-web
  apps/editor/src/app/app-editor/components/settings/AppSettingsPanel.vue
  docker-compose.dev.yml
  scripts/start-android-docker.ps1
  scripts/start-dev-docker.ps1
  scripts/start-dev-docker.sh
Due: eslint --fix

docs(scripts): fix batch wrapper paths and update port documentation
  QUICKSTART.md
  docs/DOCKER_DEV.md
  docs/WORKFLOW_AND_DEBUGGING.md
  scripts/detect-large-files.bat
  scripts/dump-structure.bat
  scripts/restart-android.bat
  scripts/start-android-docker.bat
  scripts/start-dev-docker.bat
  scripts/stop-dev-docker.bat
Due: none

docs(gemini): update AI agent log with port conflict resolution and doc audit
  gemini.md
Due: none

fix(editor): resolve codemirror/autocomplete import and fix strict ts errors in app store/pages
  apps/editor/package.json
  apps/editor/src/app/app-editor/types/editor.types.ts
  apps/editor/src/composables/useSchemaAutocomplete.ts
  apps/editor/src/pages/AppsPage.vue
  apps/editor/src/stores/app.store.ts
  pnpm-lock.yaml
Due: eslint --fix

docs(gemini): log editor codemirror and ts fixes
  gemini.md
Due: none

fix(docker): correct php.ini override directory path for FrankenPHP upload limits
  apps/backend/Dockerfile.prod
Due: none

docs(gemini): log docker file upload limit resolution
  gemini.md
Due: none

feat(excel): implement client-side chunked upload to bypass server file constraints
  apps/backend/app/Http/Controllers/Api/ExcelImportController.php
  apps/backend/routes/api.php
  apps/editor/src/app/app-editor/components/data/ExcelImportModal.vue
  apps/editor/src/app/app-editor/services/excelImportService.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

docs(gemini): log client-side chunked file upload implementation
  gemini.md
Due: none

fix(excel): use Storage::path instead of manual storage_path for assembled chunks
  apps/backend/app/Http/Controllers/Api/ExcelImportController.php
Due: php apps/backend/vendor/bin/pint

fix(excel): support indexed array in preview row lookup to fix undefined preview values
  apps/editor/src/app/app-editor/components/data/ExcelImportModal.vue
Due: eslint --fix

fix(layout): populate default views in defaultLayout to prevent TypeError when loading new table layout
  apps/editor/src/app/app-editor/composables/core/useEditorState.ts
Due: eslint --fix

feat(preview): implement connection timeout and reload button for iframe live preview
  apps/editor/src/app/app-editor/components/preview/LivePreview.vue
Due: eslint --fix

docs(gemini): log layout & preview connection stabilization fixes
  gemini.md
Due: none

fix(client): add all @capacitor/* to optimizeDeps.include to prevent 504 loop
  apps/client/vite.config.ts
Due: eslint --fix

fix(vite): complete optimizeDeps - add pwa-elements to client, add exclude to editor
  apps/client/vite.config.ts
  apps/editor/vite.config.ts
Due: eslint --fix

feat: implement post-import data preview panel and interactive URL field type
  apps/backend/app/Http/Controllers/Api/TableController.php
  apps/backend/routes/api.php
  apps/client/android/app/build.gradle
  apps/client/package-lock.json
  apps/client/package.json
  apps/client/public/version.json
  apps/client/src/app/dashboard/components/AppShellSyncOverlay.vue
  apps/client/src/app/dashboard/composables/useAppShellSync.ts
  apps/client/src/common/services/EditorBridgeService.ts
  apps/client/src/common/services/SyncService.ts
  apps/client/src/common/services/sync/AssignmentSyncHelpers.ts
  apps/client/src/components/views/DeckView.vue
  apps/editor/package.json
  apps/editor/src/app/app-editor/AppEditorPage.vue
  apps/editor/src/app/app-editor/components/data/DataPreviewPanel.vue
  apps/editor/src/app/app-editor/components/layout/EditorTabContent.vue
  apps/editor/src/app/app-editor/composables/useEditorLifecycle.ts
  apps/editor/src/app/app-editor/composables/useTableSelection.ts
  apps/editor/src/app/app-editor/types/editor.types.ts
  gemini.md
  package.json
  packages/form-engine/src/components/FieldRenderer.vue
  packages/form-engine/src/components/fields/UrlField.vue
  packages/types/src/schema.ts
Due: eslint --fix, php apps/backend/vendor/bin/pint

chore(main): release cerdas 0.2.10
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: eslint --fix
